.banner-organic.normal-type {
    display: flex;
    justify-content: center;
    .banner-organic__normal {
        display: flex;
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
        .item {
            position: relative;
            margin-right: 30px;
            display: flex;
            align-items: center;
            @media (max-width: 768px) {
                width: 100%;
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }

            .title {
                position: absolute;
                color: #282828;
                font-size: 30px;
                font-weight: 500;
                left: 10%;
                letter-spacing: 0;
                text-align: center;
                width: 200px;
            }
        }
        img {
            max-width: 100%;
        }
        svg {
            width: 100%;
            background-color: rgb(235, 229, 229);
        }
    }
}

@media (max-width: 768px) {
    .banner-organic {
        .banner-organic__normal {
            display: block;
            img {
                width: 100%;
            }
        }
    }    
}

.banner-organic.count-down-type {
    position: relative;
    display: flex;
    .swiper-button-next {
        width: 40px;
        position: absolute;
        right: 60px;
        // top: 46%;
        align-self: center;
        transform: rotate(180deg);
    }
    .banner-organic__count-down {
        max-width: 1410px;
        margin: auto;
        position: relative;
        .banner-organic__count-down-wrapper {
            .banner-organic__item {
                position: relative;
                padding: 75px 0;
                .background {
                    position: absolute;
                    width: 100%;
                    background-color: #ccc;
                    img {

                    }
                    svg {
                        height: 630px;
                        width: 100%;
                    }
                }

                .sale-off-slogan {
                    position: absolute;
                    margin-right: -26px;
                    top: 60px;
                    transform: rotate(90deg);
                    margin-top: -13px;
                    h3 {
                        font-size: 150px;
                        font-weight: bold;
                        letter-spacing: -1px;
                        color: #faf1dc;
                    }
                }

                .content {
                    position: relative;
                    display: flex;
                    // justify-content: space-around;
                    width: 100%;
                    .product-image {
                        margin-left: 135px;
                        margin-right: 175px;
                        img {

                        }
                        svg {
                            width: 100%;
                            background: #fff;
                        }
                    }
                    .count-down {
                        background: #ffffff;
                        align-self: center;
                        padding-right: 105px;
                        padding-bottom: 80px;
                        padding-top: 75px;
                        padding-left: 70px;
                        .heading {
                            font-size: 24px;
                            font-weight: 500;
                            text-transform: uppercase;
                            margin-bottom: -13px;
                            text-align: left;
                            letter-spacing: 0;
                        }
                        .number-sale-off {
                            display: flex;
                            position: relative;
                            margin-bottom: -15px;
                            .number {
                                font-size: 100px;
                                font-weight: 600;
                                margin-bottom: 0;
                            }
                            p {
                                font-size: 24px;

                                text-transform: uppercase;
                                transform: rotate(90deg);

                                position: absolute;
                                right: 23px;
                                top: 50px;
                                letter-spacing: 5px;
                            }
                        }
                        .sub-heading {
                            font-size: 16px;
                            text-transform: uppercase;
                            text-align: left;
                            letter-spacing: 0.5px;
                            margin-bottom: 43px;
                            font-weight: 500;
                        }

                        .__count-down {
                            display: flex;
                            .two-dot {
                                display: none;
                            }
                            .time {
                                background: #8eb35a;
                                color: #fff;
                                display: flex;
                                flex-direction: column;
                                margin-right: 10px;
                                padding: 12px;
                                min-width: 60px;
                                min-height: 70px;
                                box-sizing: border-box;
                                b {
                                    font-size: 24px;
                                    font-weight: 500;
                                }
                                small {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .swiper-pagination {
            height: 50px;
            position: absolute;
            bottom: 15px;
            width: 100%;
            display: flex;
            z-index: 111;
            justify-content: center;

            .swiper-pagination-bullet {
                background: #e8dcbe;
                border-radius: 50%;
                width: 12px;
                display: inline-block;
                height: 12px;
                white-space: nowrap;
                font-size: 0;
                margin-right: 10px;
                -webkit-transition: all 0.5s 0s ease;
                -moz-transition: all 0.5s 0s ease;
                -o-transition: all 0.5s 0s ease;
                transition: all 0.5s 0s ease;

                &:hover {
                    background: #ffae47;
                    -webkit-transition: all 0.5s 0s ease;
                    -moz-transition: all 0.5s 0s ease;
                    -o-transition: all 0.5s 0s ease;
                    transition: all 0.5s 0s ease;
                    transform: scale(1.5) translateZ(0);
                    cursor: pointer;
                }
            }
            .swiper-pagination-bullet.swiper-pagination-bullet-active {
                background: #ffb352;
            }
        }
    }   
}

@media (max-width: 1300px) {
    .banner-organic.count-down-type {
        .banner-organic__count-down {
            .banner-organic__count-down-wrapper {
                .banner-organic__item {
                    .content {
                        .product-image {
                            margin: 0;
                        }
                        .count-down {
                            
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .banner-organic.count-down-type {
        .banner-organic__count-down {
            .swiper-pagination {
                bottom: -13px;
            }
            .banner-organic__count-down-wrapper {
                .banner-organic__item {
                    .content {
                        .product-image {
                            svg {
                                margin-left: 30px;
                            }
                        }
                        .count-down {
                            margin-right: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .banner-organic.count-down-type {
        .banner-organic__count-down {
            .swiper-pagination {
                
            }
            .banner-organic__count-down-wrapper {
                .banner-organic__item {
                    .content {
                        justify-content: center;
                        .product-image {
                            display: none;
                        }
                        .count-down {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}