.compare {
    padding: 0;
    .wp-compare {
        .item-compare {
            padding: 0;
            padding-right: 50px;
            &:last-child {
                padding-right: 0;
            }
            .inner {
                margin-bottom: 30px;
                position: relative;
                .js-remove-compare {
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-size: 28px;
                    color: #000;
                    padding: 5px 8px;
                    border-radius: 50%;
                    transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    cursor: pointer;
                    
                    &:hover {
                        background: #ccc;
                    }
                }
                .image-link {
                    display: block;
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .info {
                    a {
                        h3 {
                            font-size: 16px;
                            font-weight: 500;
                            color: #282828;
                            letter-spacing: 0;
                            display: inline-block;
                            position: relative;

                            &::after {
                                content: '';
                                position: absolute;
                                width: 0;
                                height: 1px;
                                background-color: #000;
                                left: 0;
                                bottom: 0;
                                transition: all 0.3s ease;
                                -moz-transition: all 0.3s ease;
                                -o-transition: all 0.3s ease;
                                -webkit-transition: all 0.3s ease;
                            }

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                    .price-in-compare {
                        font-size: 16px;
                        font-weight: 400;
                        display: flex;
                        .price-sale {
                            text-decoration: line-through;
                            margin-right: 13px;
                        }
                    }
                }
            }

            .button-atc {
                margin-bottom: 30px;
                button {
                    border: 2px solid #000;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0;
                    padding: 13px 35px;
                    transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    svg {
                        width: 20px;
                        margin-right: 10px;
                        transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -webkit-transition: all 0.3s ease;
                    }
                }
                &:hover {
                    button {
                        color: #ffffff;
                    }
                    svg {
                        fill: #ffffff;
                    }
                }
            }

            .infomation {
                .item-info {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #e2e2e2;
                    margin-bottom: 15px;
                    .title {
                        font-size: 16px;
                        font-weight: 500;
                    }
                    .content {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}