.featured-information {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  @media (max-width: 1400px) {
    padding: 0 15px !important;
  }
  @media (max-width: 1309px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  .stars {
    align-self: center;
    // --percent: calc(var(--rating) / 5 * 100%);

    display: inline-block;
    font-size: 23px;
    // font-family: Times;
    line-height: 1;

    &::before {
      content: "★★★★★";
      letter-spacing: 3px;
      // background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .featured-info-title {
    font-size: 24px;
    letter-spacing: 0;
    margin-bottom: 45px;
    font-weight: 500;
    @media (max-width: 1024px) {
      font-size: 20px;
    }
    @media (max-width: 350px) {
      font-size: 18px;
    }
  }
  .top-recommend {
    max-width: 400px;
    border-top: 70px solid #f55252;
    border-right: 5px solid #f55252;
    border-bottom: 5px solid #f55252;
    border-left: 5px solid #f55252;
    position: relative;
    @media (max-width: 1400px) {
      padding-left: 15px;
    }
    @media (max-width: 1024px) {
      max-width: 350px;
    }
    @media (max-width: 768px) {
      margin-bottom: 85px;
    }
    @media (max-width: 350px) {
      max-width: 300px;
    }
    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-right: 18px solid transparent;
      border-left: 18px solid transparent;
      border-top: 15px solid #f55252;
      z-index: 2;
    }
    .top-recommend-title {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      margin: 0;
      z-index: 2;
      color: #ffffff;
    }
    .top-recommend__list {
      .swiper-slide-default {
        .item-default {
          width: 400px;
          height: 600px;
        }
      }
      .top-recommend__item {
        justify-content: start;
        .card-wrapper {
          overflow: hidden;

          &:hover {
            .card-information__text {
              opacity: 1;
              color: #000000;
            }
          }
          .card--product {
            .card__inner {
              .product-item__img {
                max-width: 210px;
                height: 210px;
                padding: 70px 0;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  width: 100%;
                  object-fit: cover;
                }
              }
              .box-fi-rating {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 30px;
                @media (max-width: 1024px) {
                  width: 78%;
                }
                .rating {
                  .review-count {
                    font-size: 16px;
                    color: #878787;
                  }
                }
                .variant-inventory {
                  font-size: 16px;
                  font-weight: 400;
                  color: #8f8f8f;
                }
              }
            }
          }
          .card-information {
            margin-left: 30px;
            margin-right: 30px;
            border-top: 1px solid #ccc;
            text-align: start;
            margin-bottom: 40px;
            margin-top: 14px;
            .card-information__wrapper {
              .card-information__titleblock {
                text-align: left;
                .card-information__text {
                  .full-unstyled-link {
                    font-size: 16px;
                    margin-top: 12px;
                    font-weight: 500;
                  }
                }
                .price.price--sold-out {
                  justify-content: start;
                  .price__regular {
                    margin-bottom: 15px;
                    letter-spacing: 0;
                    font-size: 20px;
                  }
                }
                .price--on-sale {
                  justify-content: flex-start;
                  .price__regular {
                    display: none;
                  }
                  .price__sale {
                    margin-bottom: 14px;
                    letter-spacing: 0;
                    font-size: 18px;
                    font-weight: 400;
                    .price-item {
                      margin-right: 25px;
                    }
                  }
                }
                .product-card__action {
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  padding-left: 0;
                  .cart-fi-product {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    background: #000000;
                    width: 200px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    -webkit-transition: all 0.8s 0s ease;
                    -moz-transition: all 0.8s 0s ease;
                    -o-transition: all 0.8s 0s ease;
                    transition: all 0.8s 0s ease;
                    &:hover {
                      background: #f5faff;
                      cursor: pointer;
                      svg {
                        fill: #000000;
                      }
                      .btn {
                        color: #000000;
                      }
                    }
                    svg {
                      fill: #ffffff;
                      -webkit-transition: all 0.8s 0s ease;
                      -moz-transition: all 0.8s 0s ease;
                      -o-transition: all 0.8s 0s ease;
                      transition: all 0.8s 0s ease;
                    }
                    .btn {
                      border: none;
                      background-color: transparent;
                      text-transform: none;
                      color: #ffffff;
                      -webkit-transition: all 0.5s 0s ease;
                      -moz-transition: all 0.5s 0s ease;
                      -o-transition: all 0.5s 0s ease;
                      transition: all 0.5s 0s ease;
                      font-size: 18px;
                      font-weight: 500;
                    }
                  }
                  .wishlist-fi-product {
                    background-color: #f5faff;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 3px;
                    -webkit-transition: all 0.8s 0s ease;
                    -moz-transition: all 0.8s 0s ease;
                    -o-transition: all 0.8s 0s ease;
                    transition: all 0.8s 0s ease;
                    svg {
                      fill: #000000;
                      -webkit-transition: all 0.8s 0s ease;
                      -moz-transition: all 0.8s 0s ease;
                      -o-transition: all 0.8s 0s ease;
                      transition: all 0.8s 0s ease;
                    }
                    &:hover {
                      cursor: pointer;
                      background-color: #0b88ee;
                      svg {
                        fill: #ffffff;
                      }
                    }
                  }
                  .compare-fi-product {
                    background-color: #f5faff;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    -webkit-transition: all 0.8s 0s ease;
                    -moz-transition: all 0.8s 0s ease;
                    -o-transition: all 0.8s 0s ease;
                    transition: all 0.8s 0s ease;
                    svg {
                      fill: #000000;
                      -webkit-transition: all 0.8s 0s ease;
                      -moz-transition: all 0.8s 0s ease;
                      -o-transition: all 0.8s 0s ease;
                      transition: all 0.8s 0s ease;
                    }
                    &:hover {
                      cursor: pointer;
                      background-color: #0b88ee;
                      svg {
                        fill: #ffffff;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .tr-navigation-item {
        position: absolute;
        top: -45px;
        z-index: 2;
        left: 25px;
        right: auto;
        &:hover {
          svg {
            fill: #000000;
            stroke: #000000;
          }
        }
        svg {
          fill: #ffffff;
          stroke: #ffffff;
          width: 15px;
          height: 15px;
          -webkit-transition: all 0.5s 0s ease;
          -moz-transition: all 0.5s 0s ease;
          -o-transition: all 0.5s 0s ease;
          transition: all 0.5s 0s ease;
        }
      }
      .swiper-button-next {
        right: 25px;
        left: auto;
        stroke: #ffffff;
      }
      .top-recommend__count-down {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 25%;
        left: 49%;
        z-index: 2;
        transform: translateX(-50%);
        padding: 0;
        align-items: center;
        justify-content: center;
        span {
          background: #fff;
          min-width: 60px;
          height: 65px;
          font-size: 14px;
          text-align: center;
          padding-top: 10px;
          margin-left: 10px;
          box-shadow: 0px 1px 1px 1px rgba(227, 222, 222, 0.25);
          -webkit-box-shadow: 0px 1px 1px 1px rgba(227, 222, 222, 0.25);
          -moz-box-shadow: 0px 1px 1px 1px rgba(227, 222, 222, 0.25);
          b {
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            display: block;
            margin-bottom: 0;
          }
        }
        .seconds {
          background: #0b88ee;
          color: #ffffff;
        }
      }
      .tr-slider-pagination {
        position: absolute;
        bottom: -10px;
        right: 50%;
        transform: translateX(50%);
        background: #ffffff;
        z-index: 3;
        .swiper-pagination-bullet {
          width: 12px;
          height: 12px;
          display: inline-block;
          background: #eff2f1;
          border-radius: 50%;
          margin: 0 5px;
          -webkit-transition: all 0.5s 0s ease;
          -moz-transition: all 0.5s 0s ease;
          -o-transition: all 0.5s 0s ease;
          transition: all 0.5s 0s ease;
          @media (max-width: 768px) {
            margin: 0 5px;
          }
          &:hover {
            background: #ffb352;
            transform: scale(1.5) translateZ(0);
            cursor: pointer;
          }
        }
        .swiper-pagination-bullet-active {
          background: #ffb352;
        }
        .swiper-pagination-bullet:first-child {
          margin-left: 40px;
          @media (max-width: 768px) {
            margin-left: 10px;
          }
        }
        .swiper-pagination-bullet:last-child {
          margin-right: 40px;
          @media (max-width: 768px) {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .featured-post {
    max-width: 375px;
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    @media (min-width: 1310px) and (max-width: 1340px) {
      margin-left: 60px;
    }
    @media (max-width: 854px) {
      margin-left: 20px;
    }
    @media (max-width: 768px) {
      max-width: 350px;
    }
    @media (max-width: 350px) {
      max-width: 300px;
    }
    .featured-post__list {
      .featured-post__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .item-image {
          margin-bottom: 22px;
        }
        .item-content {
          text-align: start;
          .item {
            .title {
              font-size: 16px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            .description {
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 10px;
              color: #7c7c7c;
              p {
                overflow: hidden;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                margin-bottom: 0;
              }
            }
            .fp-more-info {
              display: flex;
              align-items: center;
              margin-bottom: 24px;
              .fp-date {
                display: flex;
                align-items: center;
                margin-right: 30px;
                font-size: 16px;
                font-weight: 400;
                svg {
                  width: 20px;
                  height: 20px;
                  margin-right: 15px;
                  path {
                    fill: #ffb352;
                  }
                }
              }
              .fp-comments-count {
                display: flex;
                align-items: center;
                font-size: 16px;
                font-weight: 400;
                svg {
                  width: 20px;
                  height: 20px;
                  margin-right: 15px;
                  path {
                    fill: #ffb352;
                  }
                }
              }
            }

            .readmore {
              font-size: 18px;
              font-weight: 500;
              position: relative;
              &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 2px;
                transition: all 0.3s;
                background-color: #000;
                bottom: 0;
                left: 0;
                display: block;
              }
              &:hover {
                color: #000000;
                &:before {
                  width: 0;
                }
              }
            }
          }
        }
      }
      .featured-post-default {
        .featured-post-default-img {
          width: 400px;
          height: 250px;
          background: #cccccc;
          margin-bottom: 20px;
        }
        .item {
          .title {
            font-size: 20px;
            margin-bottom: 20px;
            font-weight: 300;
          }
          .description {
            font-size: 18px;
            font-weight: 300;
            p {
              overflow: hidden;
              text-overflow: ellipsis;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
      .fp-navigation-item {
        position: absolute;
        top: 0;
        z-index: 2;
        right: 0;
        svg {
          width: 15px;
          height: 15px;
        }
      }
      .swiper-button-prev {
        right: 20px;
      }
    }
  }
  .best-reviewer {
    margin-left: 60px;
    margin-top: 20px;
    max-width: 375px;
    position: relative;
    @media (max-width: 1309px) {
      margin-top: 85px;
    }
    @media (max-width: 768px) {
      margin-left: 0;
    }
    @media (max-width: 400px) {
      max-width: 350px;
    }
    @media (max-width: 350px) {
      max-width: 300px;
    }
    .best-reviewer__list {
      .best-reviewer__item {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        text-align: start;
        .reviewer-content {
          // background-color: #f3fcfb;
          padding: 50px 40px;
          position: relative;
          margin-bottom: 70px;
          font-size: 16px;
          font-weight: 400;
          &:before {
            position: absolute;
            content: "";
            top: 100%;
            right: auto;
            left: 30px;
            width: 0;
            height: 0;
            border-right: 45px solid transparent;
            // border-top: 45px solid #f3fcfb;
          }
          .br-rating {
            svg {
              fill: #ffae47;
            }
          }
        }
        .reviewer__commentator {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 100px;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 30px;
          }
          svg {
            width: 100px;
            border-radius: 50%;
            display: block;
            margin-right: 30px;
          }
          h5 {
            margin: 0;
          }
          p {
            margin: 0;
            strong {
              font-size: 20px;
              font-weight: 500;
            }
            em {
              font-size: 16px;
              font-weight: 400;
            }
          }
        }
      }
    }

    .br-navigation-item {
      position: absolute;
      top: 0;
      z-index: 2;
      right: 0;
      svg {
        width: 15px;
        height: 15px;
      }
    }
    .swiper-button-prev {
      right: 20px;
    }
  }
}
