//blog art
.home-latest-blog {
  .wrapper__slider {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    .section-title {
      display: inline-block;

      font-size: 36px;
      line-height: 60px;
      color: #000;
      font-weight: 500;
      position: absolute;
      top: 69px;
      left: 29px;
      z-index: 9;
    }
  }
  .latestblogSwiper {
    .swiper-slide {
      display: flex;
      flex-direction: row;
      align-items: center;
      .swiper-slide__left {
        width: 50%;
        text-align: left;
        .item {
          padding-left: 30px;
          margin-left: 29px;
          border-left: 1px solid #eee;
          padding-top: 14px;
          .item__date {
            margin-bottom: 18px;
            time {
              font-size: 16px;
              font-weight: 300;
              line-height: 1.4em;
              color: #7c7c7c;
            }
          }
          h6 {
            margin-top: 0;
            margin-bottom: 17px;

            font-size: 24px;
            line-height: 33px;
            color: #000;
            font-weight: 500;
          }
          .description {
            margin-bottom: 25px;
            color: #848484;
            font-size: 400;
            font-weight: 400;
            line-height: 29px;
            p {
              font-size: 16px;
              font-weight: 400;
              line-height: 26px;
              color: #696969;
              margin: 0;
            }
          }
          a.readmore {
            font-size: 18px;
            line-height: 30px;
            color: #000;
            font-weight: 500;
            text-transform: none;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            letter-spacing: 0;
            position: relative;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            &:hover {
              // color: #dd963c;
              transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
              &:after {
                width: 0;
              }
            }
            i {
              display: inline-flex;
              align-items: center;
              margin-left: 29px;
            }
            &:after {
              position: absolute;
              content: "";
              height: 2px;
              width: 100%;
              background: #282828;
              left: 0;
              right: 0;
              bottom: -4px;
              transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
            }
          }
        }
      }
      .swiper-slide__right {
        background: #fff;
        width: 50%;
        img {
          max-width: 485px;
          height: auto;
          margin: 0 auto 0 30px;
        }
      }
    }
    .swiper-button-prev {
      position: absolute;
      top: 53%;
      transform: translate(-50%, -50%);
      width: 40px;
      left: -90px;
    }
    .swiper-pagination {
      position: absolute;
      left: 35px;
      bottom: 75px;
      z-index: 9;
      .swiper-pagination-bullet {
        position: relative;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 12px solid #e3e3e3;
        display: inline-block;
        margin-right: 10px;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
        &:hover {
          cursor: pointer;
          border-bottom: 12px solid #c69251;
          -webkit-transition: all 0.5s 0s ease;
          -moz-transition: all 0.5s 0s ease;
          -o-transition: all 0.5s 0s ease;
          transition: all 0.5s 0s ease;
        }
      }
      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 20px solid #9ac78d;
        border-bottom: 0;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
        &:hover {
          border-top: 20px solid #c69251;
          -webkit-transition: all 0.5s 0s ease;
          -moz-transition: all 0.5s 0s ease;
          -o-transition: all 0.5s 0s ease;
          transition: all 0.5s 0s ease;
        }
      }
    }
  }
}
//blog cosmetic
.home-latest-blog {
  .blog-cosmetic {
    .wrapper__slider {
      max-width: unset;
      width: 80%;
      margin: 0 auto;
      width: 100%;
      .section-title {
        display: none;
      }
    }
    .latestblogSwiper {
      width: calc(50% + 80vw);
      margin-left: 200px;
      @media (min-width: 1023px) and (max-width: 1800px) {
        margin-left: 40px;
      }
      @media (max-width: 1200px) {
        margin-left: 70px;
      }
      @media (max-width: 1023px) {
        margin-left: unset;
        width: 100%;
      }
      .swiper-wrapper {
        padding-bottom: 100px;
        @media (max-width: 1023px) {
          padding-bottom: 25px;
        }
        @media (max-width: 767px) {
          padding-bottom: 10px;
        }
        .swiper-slide {
          flex-direction: row-reverse;
          justify-content: start;
          width: 50%;
          margin-right: 200px;
          @media (min-width: 1023px) and (max-width: 1800px) {
            margin-right: 100px;
          }
          @media (max-width: 1023px) {
            flex-direction: column-reverse;
            margin-right: 0;
          }
          .swiper-slide__left {
            text-align: left;
            max-width: 500px;
            margin-left: 10px;
            @media (max-width: 1023px) {
              width: 100%;
            }
            @media (max-width: 767px) {
              padding-right: 60px;
            }
            .item {
              padding-left: 0;
              border-left: unset;
              .item__date {
                margin-bottom: 10px;
                time {
                  font-weight: 400;
                }
              }
              .title {
                font-size: 30px;
                line-height: 1.4;
                margin-bottom: 13px;
              }
              .description {
                margin-bottom: 20px;
                p {
                  @media (min-width: 1023px) and (max-width: 1800px) {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 25px;
                    -webkit-line-clamp: 3;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                  }
                }
              }
            }
          }
          .swiper-slide__right {
            padding-left: 30px;
            position: relative;
            min-width: 650px;
            @media (min-width: 1023px) and (max-width: 1800px) {
              min-width: unset;
            }
            @media (max-width: 1023px) {
              margin-bottom: 65px;
              padding-left: 0;
              min-width: unset;
              width: 100%;
            }
            @media (max-width: 767px) {
              min-width: unset;
              width: 100%;
            }
            img {
              width: 100%;
              object-fit: cover;
              max-width: unset;
              margin: 0;
            }
            .swiper-slide__number {
              font-size: 120px;
              font-weight: 400;
              font-style: italic;
              position: absolute;
              bottom: 0;
              left: 9%;
              margin-bottom: 0;
              line-height: 0;
              @media (max-width: 1023px) {
                font-size: 120px;
              }
            }
          }
        }
      }
      .swiper-pagination {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 10px;
          background: #e9e9e9;
          border-radius: 50%;
          border: none;
          &:hover {
            width: 10px;
            height: 10px;
            background: #ffae47;
            -webkit-transition: all 0.5s 0s ease;
            -moz-transition: all 0.5s 0s ease;
            -o-transition: all 0.5s 0s ease;
            transition: all 0.5s 0s ease;
            transform: scale(1.5) translateZ(0);
          }
        }
        .swiper-pagination-bullet-active {
          background: #ffae47;
          border: none;
          &:hover {
            border-top: unset;
            transform: scale(1.5) translateZ(0);
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
          }
        }
      }
      .swiper-button-prev-latest-blog {
        position: absolute;
        top: 53%;
        transform: translate(-50%, -50%);
        width: 40px;
        left: 115px;
        cursor: pointer;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
        &:hover {
          svg {
            .cls-1 {
              stroke: #ffae47;
              -webkit-transition: all 0.5s 0s ease;
              -moz-transition: all 0.5s 0s ease;
              -o-transition: all 0.5s 0s ease;
              transition: all 0.5s 0s ease;
            }
          }
        }
        @media (max-width: 1200px) {
          left: 50px;
        }
        @media (max-width: 1800px) {
          display: none;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .home-latest-blog {
    .blog-art {
      .wrapper {
        .wrapper__slider {
          .section-title.home-title {
            top: 5px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 469px) and (max-width: 767px) {
  .home-latest-blog {
    .blog-art {
      .wrapper {
        .wrapper__slider {
          .section-title.home-title {
            top: -80px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 468px) {
  .home-latest-blog {
    .blog-art {
      .wrapper {
        .wrapper__slider {
          .section-title.home-title {
            top: 58%;
          }
          .latestblogSwiper {
            .swiper-wrapper {
              .swiper-slide {
                flex-direction: column-reverse;
                .swiper-slide__left {
                  width: 100%;
                  margin-top: 50px;
                }
                .swiper-slide__right {
                  width: 100%;
                  img {
                    margin: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  //page home latest blog
  .home-latest-blog {
    .wrapper {
      padding: 0;
    }
    .wrapper__slider {
      .section-title {
        position: relative;
        padding-bottom: 20px;
        font-size: 40px;
      }
    }
    .latestblogSwiper {
      .swiper-slide {
        flex-direction: column;
        .swiper-slide__left {
          .item {
            border-left: none;
            padding-left: 0;
            .item__date {
              margin-bottom: 30px;
            }
          }
          width: 100%;
          margin-bottom: 55px;
        }
        .swiper-slide__right {
          width: 100%;
          margin-bottom: 50px;
          img {
            max-width: none;
            margin: auto;
          }
        }
      }
      .swiper-pagination {
        bottom: 0;
      }
    }
  }
  .home-latest-blog {
    padding: 0 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home-latest-blog {
    .wrapper__slider {
      .section-title {
        position: absolute;
        // padding-bottom: 20px;
        // font-size: 40px;
      }
    }

    .blog-art {
      .wrapper {
        .wrapper__slider {
          .latestblogSwiper {
            .swiper-wrapper {
              .swiper-slide {
                flex-direction: row;
                .swiper-slide__left {
                  margin-top: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .home-latest-blog {
    .blog-art {
      .wrapper {
        .wrapper__slider {
          .section-title.home-title {
            top: -6%;
            font-size: 30px;
          }
          .latestblogSwiper {
            .swiper-wrapper {
              .swiper-slide {
                flex-direction: column-reverse;
                .swiper-slide__left {
                  margin-top: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
