// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------
.home-the-collection {
  padding: 250px 0;
  @media (max-width: 768px) {
    padding: 100px 0;
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .the-collection__svg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #cccccc;
  }
  .content {
    z-index: 9;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h3 {
    font-size: 44px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px 30px;
    background: #fff;
    letter-spacing: 0;
    @media (max-width: 768px) {
      font-size: 36px;
    }
  }
  .subtitle {
    text-align: center;
    padding: 5px 30px;
    background: #fff;

    font-size: 22px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    display: inline-block;
    margin-bottom: 32px;
  }
  a {
    display: inline-block;

    font-size: 18px;
    line-height: 30px;
    color: #000;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background: #000;
      opacity: 1;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    &:hover {
      &:after {
        width: 0;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
      }
    }
  }
}
