.home-gallery {
  .wrapper__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    .home-title {
      margin-bottom: 9px;
    }
  }
  .gallery-container {
    max-width: 1410px;
    margin: 0 auto;
    .gallery-item.gallery-item-landscape {
      width: 640px;
    }
    .gallery-item {
      width: 350px;
      height: 350px;
      overflow: hidden;
      a {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 100%;
        &:hover {
          &:after {
            opacity: 1;
            transition: opacity 0.8s ease;
            -moz-transition: opacity 0.8s ease;
            -o-transition: opacity 0.8s ease;
            -webkit-transition: opacity 0.8s ease;
          }
          svg {
            opacity: 1;
            transition: opacity 0.8s ease;
            -moz-transition: opacity 0.8s ease;
            -o-transition: opacity 0.8s ease;
            -webkit-transition: opacity 0.8s ease;
          }
          img {
            filter: grayscale(1);
            transform: scale(1.1);
            transition: all 0.8s ease;
            -moz-transition: all 0.8s ease;
            -o-transition: all 0.8s ease;
            -webkit-transition: all 0.8s ease;
          }
        }
        &:after {
          position: absolute;
          content: "";
          top: 15px;
          bottom: 15px;
          left: 15px;
          right: 15px;
          border: 2px solid rgba(225, 225, 225, 0.5);
          opacity: 0;
          transition: opacity 0.8s ease;
          -moz-transition: opacity 0.8s ease;
          -o-transition: opacity 0.8s ease;
          -webkit-transition: opacity 0.8s ease;
        }
        svg {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          fill: #fff;
          stroke: #fff;
          opacity: 0;
          transition: opacity 0.8s ease;
          -moz-transition: opacity 0.8s ease;
          -o-transition: opacity 0.8s ease;
          -webkit-transition: opacity 0.8s ease;
        }
        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(0);
          transform: scale(1);
          transition: all 0.8s ease;
          -moz-transition: all 0.8s ease;
          -o-transition: all 0.8s ease;
          -webkit-transition: all 0.8s ease;
        }
      }
    }
  }
  .gallery-default-list {
    display: flex;
    .gallery-default-left {
      margin-right: 20px;
      .gallery-item-1 {
        margin-bottom: 20px;
        .gallery-item-1__svg {
          width: 640px;
          height: 340px;
          background: #cccccc;
          margin-right: 20px;
        }
        .gallery-item-2__svg {
          width: 340px;
          height: 340px;
          background: #cccccc;
        }
      }
      .gallery-item-2 {
        .gallery-item-3__svg {
          width: 340px;
          height: 340px;
          background: #cccccc;
          margin-right: 20px;
        }
        .gallery-item-4__svg {
          width: 640px;
          height: 340px;
          background: #cccccc;
        }
      }
    }
    .gallery-item-right__svg {
      width: 340px;
      height: 705px;
      background: #cccccc;
    }
  }
  @media (max-width: 1400px) {
    .gallery-default-list {
      display: flex;
      .gallery-default-left {
        margin-right: 10px;
        .gallery-item-1 {
          margin-bottom: 10px;
          .gallery-item-1__svg {
            width: 590px;
            height: 300px;
            background: #cccccc;
            margin-right: 10px;
          }
          .gallery-item-2__svg {
            width: 290px;
            height: 300px;
            background: #cccccc;
          }
        }
        .gallery-item-2 {
          .gallery-item-3__svg {
            width: 290px;
            height: 300px;
            background: #cccccc;
            margin-right: 10px;
          }
          .gallery-item-4__svg {
            width: 590px;
            height: 300px;
            background: #cccccc;
          }
        }
      }
      .gallery-item-right__svg {
        width: 290px;
        height: 615px;
        background: #cccccc;
      }
    }
  }
}

@media only screen and (max-width: 1398px) {
  .home-gallery {
    .gallery-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .gallery-item {
        position: unset !important;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1080px) {
  .home-gallery {
    .gallery-container {
      // left: 5%;
      .gallery-item.gallery-item-landscape {
        width: 350px;
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .home-gallery {
    .gallery-container {
      // left: 0;
      display: block;

      .gallery-item {
        position: absolute !important;
        margin-right: unset;
        margin-left: unset;
      }
    }
  }
}

#modal_home_gallery {
  .modal-content {
    .modal-body {
      .close {
        &:hover {
          transform: unset;
        }
      }
      .wrapper-gallery {
        .gallery-top {
          .swiper-wrapper {
            .swiper-slide {
              max-height: 500px;
            }
          }

          .swiper-button-prev.swiper-button-white {
            position: absolute;
            // top: 0;
            z-index: 11;
            align-self: center;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            display: flex;
            padding: 5px;
            svg {
              fill: #000;
            }
            
            &:hover {
              background-color: #ccc;
            }
          }  
          .swiper-button-next.swiper-button-white {
            position: absolute;
            // top: 0;
            right: 0;
            z-index: 11;
            align-self: center;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            display: flex;
            padding: 5px;
            svg {
              fill: #000;
            }
            &:hover {
              background-color: #ccc;
            }
          }
        }
        .gallery-thumbs {
          .swiper-wrapper {
            .swiper-slide {
              max-height: 200px;
            }
          }
        }
      }
    }
  }
}
