@media(max-width: 1024px){
  #shopify-section-header .header-type-center .header__menu.header__left{
    display: none !important;
  }
  #shopify-section-header .header-type-center .header__menu.header__right{
    display: none !important;
  }
  #shopify-section-header .header-type-center.homepage .header-canvas__html{
    display: none;
  }
  #shopify-section-header .header-type-center .header-canvas a.menu-click__mobile{
    display: block;
  }
}
@media screen and (max-width: 480px){
  .main-product .product-form__buttons{
    flex-direction: column;
  }
  .main-product .product-form__buttons .product-form__submit{
    width: auto;
    margin-bottom: 10px;
  }
  .home-gallery .gallery-container .gallery-item{
    width: 100%;
  }
}