.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding-bottom: 1.8rem;
  opacity: 0.85;
  font-weight: normal;
}

.cart-item__totals {
  position: relative;
}

.cart-items *.right {
  text-align: right;
}

.cart-item__image {
  max-width: 100%;
  margin-right: 15px;
}

.cart-item__details {
  font-size: 1.6rem;
  line-height: 1.4;
}

.cart-item__details > * {
  margin: 0;
}

.cart-item__media {
  position: relative;
}

.cart-item__name {
  color: rgb(var(--color-foreground));
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-weight: 400;
}

.cart-item__name:hover {
  text-decoration: none;
}

.cart-item__price-wrapper {
  margin: 0;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.cart-item__old-price {
  opacity: 0.7;
}

.product-option {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}
.product-option dt {
  font-weight: 400;
}

.cart-item cart-remove-button {
  display: inline-block;
  margin: 20px 0;
}

cart-remove-button .button {
  padding: 0;
  margin-right: 30px;
}

cart-remove-button .icon-remove {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}


.loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  font-size: 1.2rem;
  display: flex;
}

.cart-item__error-text {
  order: 1;
}

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option {
  color: rgba(var(--color-foreground), 0.7);
}

.product-option + .product-option {
  margin-top: 0.4rem;
}

.product-option * {
  display: inline;
  margin: 0;
}

.cart-items thead th {
  text-transform: unset;
  text-align: center;

  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  border-bottom: 1px solid #000;
  color: #000;
}
