.image-description {
  margin-bottom: 20px;
}
.image-description .image-description-item {
  padding: 0 15px;
  margin-bottom: 67px;
}
.image-description .image-description-item img {
  width: 100%;
  max-width: 100%;
}
.image-description .description-about-img-default {
  background: #cccccc;
  width: 440px;
  height: 590px;
}
@media (max-width: 1300px) {
  .image-description .description-about-img-default {
    width: 420px;
  }
}

.content-description {
  font-size: 18px;
  font-weight: 300;
  color: #696969;
  padding: 0 83px 60px 83px;
  line-height: 1.7em;
}
.text-description p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
}
.description-about-us {
  margin-bottom: 70px;
}
.description-about-us .icon-about {
  margin: auto;
  opacity: 0.6;
  max-width: 40px;
}
.description-about-us .icon-about img {
  width: 100%;
}

@media screen and (max-width: 979px) {
  .content-description {
    padding: 0;
  }
}
