.pb__section {
  padding: 55px 0 45px;
}

.pb__section .pb__wrapper ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
}

.pb__section .pb__wrapper ul li svg {
  margin: 0 25px;
}

.pb__section .pb__wrapper ul li:last-child {
  margin-right: 0;
}

.pb__section .pb__wrapper ul li a,
.pb__section .pb__wrapper ul li span {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4em;
  color: #464646;
  letter-spacing: 0;
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.pb__section .pb__wrapper ul li a:hover {
  color: var(--color-textlinkhover);
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.pb__section .pb__wrapper ul li span {
  margin-right: 0;
}
