.content-portfolio-album-2 {
  position: relative;
}
.content-portfolio-album-2 .main-content {
  margin-top: 27px;
  margin-left: 38%;
  max-width: 143px;
}
.content-portfolio-album-2 .number-portfolio {
  font-size: 100px;

  letter-spacing: inherit;
  opacity: 0.5;
  margin: 0 0 60px 0;
  line-height: 56px;
}

.content-portfolio-album-2 .title-portfolio {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;

  letter-spacing: inherit;
  margin-bottom: 22px;
}

.rotate-2 {
  transform: translate(160px, 335px) rotate(90deg);
}

.content-portfolio-album-2 p.content-portfolio {
  font-size: 18px;
  font-weight: 400;

  border-bottom: 2px solid;
  padding-bottom: 65px;
  line-height: 1.6em;
}

.content-portfolio-album-2 .content-portfolio-description-2 {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.inline {
  display: inline-block;
  width: 136px;
  height: 1px;
  background-color: #000;
  margin-right: 29px;
}

.big-title-portfolio-2 {
  position: absolute;
  text-align: end;
  bottom: -50px;
  right: -353px;
}

@media (max-width: 1700px) {
  .big-title-portfolio-2 {
    right: 0;
  }
}

.title-portfolio-album-2 {
  font-size: 150px;
  font-weight: 900;

  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent;
  opacity: 0.2;
}

.portfolio-swiper2 .swiper {
  max-width: 470px;
  margin-left: auto;
}
.portfolio-swiper2 {
  position: relative;
}

.portfolio-swiper2:before {
  width: 100%;
  height: 100%;
  max-width: 470px;
  position: absolute;
  display: block;
  content: "";
  background: transparent;
  border: 1px solid;
  bottom: 42px;
  left: 160px;
}

.portfolio-swiper2 .swiper-button-next {
  right: 2px;
}

.portfolio-swiper2 .swiper-button-prev {
  left: -16px;
}

.swiper-button-next,
.swiper-button-prev {
  display: block !important;
}
@media screen and (max-width: 1200px) {
  .main-portfolio .big-title-portfolio-2 {
    display: none;
  }
  .portfolio-swiper2:before {
    display: none;
  }
  .portfolio-swiper2 .swiper-button-next {
    right: 140px;
  }

  .portfolio-swiper2 .swiper-button-prev {
    left: 130px;
  }

  .rotate-2 {
    transform: translate(160px, 245px) rotate(90deg);
  }
}

@media screen and (max-width: 1024px) {
  .content-portfolio-album-2 .content-portfolio-description-2 {
    display: none;
  }

  .content-portfolio-album-2 .main-content {
    margin-top: 27px;
    margin-left: auto;
    max-width: none;
    text-align: center;
  }
  .content-portfolio-album-2 p.content-portfolio {
    border-bottom: none;
  }
}
@media screen and (max-width: 992px) {
  .main-portfolio.portfolio-2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .portfolio-swiper2 .swiper-button-next {
    right: 155px;
  }

  .portfolio-swiper2 .swiper-button-prev {
    left: 155px;
  }
}
@media screen and (max-width: 480px) {
  .main-portfolio.portfolio-2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .portfolio-swiper2 .swiper-button-next {
    right: 60px;
  }

  .portfolio-swiper2 .swiper-button-prev {
    left: 60px;
  }
}

@media screen and (max-width: 320px) {
  .main-portfolio.portfolio-2 {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .portfolio-swiper2 .swiper-button-next {
    right: 30px;
  }

  .portfolio-swiper2 .swiper-button-prev {
    left: 30px;
  }
}
