.about-us-full {
  position: relative;
  max-width: 1410px;
  margin: auto;
}
.top-about-us {
  position: relative;
}
.top-about-us .about-us__item img {
  width: 100%;
}
.top-about-us .about-us__item .banner-about-img-default {
  background: #cccccc;
}
.top-about-us .content-banner {
  position: absolute;
  bottom: -1px;
  left: -1px;
  width: 700px;
  height: auto;
  background: #ffffff;
  padding: 18px 39px;
}

h2.title-content-banner {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 0;
  letter-spacing: inherit;
}
p.text-banner {
  font-size: 18px;
  font-weight: 300;
  color: #696969;
  line-height: 1.6em;
  margin-top: 12px;
}
.text-title-about-us {
  position: absolute;
}
.text-title-about-us .text-about {
  font-size: 150px;
  font-weight: 700;
  line-height: 0;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0px 0px 1px black;
  /* -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent; */
}
.rotate {
  transform: translateX(-50.5%) translateY(249%) rotate(-90deg);
}

.style-2 {
  margin: -50px auto 0;
}
.style-2 .rotate {
  display: none;
}

.style-2 .top-about-us .content-banner {
  display: none;
}
