.main-contact-content {
  position: relative;
  margin-bottom: 100px;
}
.page-contact-content {
  max-width: 1144px;
  margin: auto;
}
/*contact info*/
.contact-info {
  background-color: #ffffff;
  max-width: 396px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 30px 40px;
  transform: translateY(-173px);
}

.top-contact-info {
  border-bottom: 1px solid #e2e2e2;
}
.top-contact-info .top-contact-info__title {
  font-size: 36px;
  letter-spacing: inherit;
  font-weight: 500;
  margin-bottom: 15px;
}
.top-contact-info .top-contact-info__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #696969;
  padding-bottom: 17px;
  letter-spacing: 0.2px;
}
.label-contact {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 21px;
  text-transform: uppercase;
}

.contact-info .contact-phone {
  padding-top: 31px;
  font-weight: 400;
  font-size: 16px;
}

/*contact content*/
.title-big-font {
  position: absolute;
  left: -30px;
  bottom: 4%;
}
.title-contact-us {
  font-size: 150px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0px 0px 1px black;
  /* -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: transparent; */
}

.formContactUs {
  padding-top: 62px;
  padding-left: 14px;
}
.input-error-message {
  display: flex;
  margin-bottom: 15px;
  font-size: 18px;
}
.form-message--error {
  font-size: 18px;
}

.page-contact-content .title-form-contact {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: inherit;
  margin-bottom: 13px;
}

.page-contact-content .description-form-contact {
  font-size: 16px;
  font-weight: 400;
  color: #696969;
  max-width: 520px;
  line-height: 1.5em;
  margin-bottom: 33px;
}

form#ContactForm {
  max-width: 670px;
}

.input-contact {
  width: 100%;
  padding: 16px 52px 16px 16px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.formContactUs .input-name-contact {
  position: relative;
}

.formContactUs .icon-input-name,
.formContactUs .icon-input-email {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  opacity: 0.6;
}

.page-contact-content .input-name-email {
  position: relative;
  padding: 20px 0;
}

.input-name-btn-contact {
  padding-top: 16px;
}

input.btn-contact {
  background: #ffae47;
  padding: 18px 36px;
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  border: hidden;
  cursor: pointer;
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

input.btn-contact:hover {
  opacity: 0.6;
  background: #000;
  color: #ffffff;
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.input-contact:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}
.ContactForm-email-error {
  display: flex;
}
svg.icon.icon-error {
  width: 20px;
  margin-right: 20px;
}
