.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn.background-secondary .title-wrapper-with-link {
  margin-top: 0;
}

.multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.multicolumn-card {
  position: relative;
}

.multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.multicolumn-list__item.center
  .multicolumn-card__image-wrapper:not(.multicolumn-card__image-wrapper--full-width),
.multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}
.multicolumn-list__item {
  position: relative;
}
.multicolumn-list__item .hover-banner__link {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: #000000;
  transition: all 1s ease-out;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

.multicolumn-list {
  margin-bottom: 0;
  padding: 0;
}

.multicolumn-list__item:only-child {
  max-width: 72rem;
}

.multicolumn:not(.background-none) .multicolumn-card {
  background: rgba(var(--color-foreground), 0.04);
  height: 100%;
}

.multicolumn.background-secondary .multicolumn-card {
  background: rgb(var(--color-background));
}

.multicolumn.background-secondary {
  padding: 4rem 0 5rem;
}

/* .multicolumn:not(.background-secondary) {
  margin-bottom: 100px;
} */

.multicolumn-list h3,
.multicolumn-list p {
  margin: 0;
}

.multicolumn-card-spacing {
}

.multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.multicolumn-list__item.center .media--adapt,
.multicolumn-list__item .media--adapt img {
  width: auto;
}

.multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

.background-none .multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.multicolumn-card__info {
  padding: 35px 18px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.is-product-full .multicolumn-card__info h3,
.is-product-boxed .multicolumn-card__info h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  color: #282828;
  font-weight: 600;
}
.multicolumn-card__info h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 28px;
  color: #282828;
  font-weight: 400;
}
.multicolumn-card__info .rte {
  margin-top: 0;
}
.multicolumn-card__info .rte p {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 50px;
  color: #282828;
  font-weight: 400;
}

.is-product-full .multicolumn-card__info .rte p {
  font-size: 50px;
  text-transform: uppercase;
  line-height: 50px;
  color: #282828;
  font-weight: 700;
}

.is-product-boxed .multicolumn-card__info .rte p {
  color: #3ea6ff;

  font-size: 50px;
  text-transform: uppercase;
  line-height: 50px;
  font-weight: 700;
}

.background-none .multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .multicolumn-card__image-wrapper + .multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .multicolumn-card__image-wrapper
  + .multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none
  .multicolumn-list:not(.slider)
  .center
  .multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.banner {
  justify-content: start;
  margin-left: -15px;
  margin-right: -15px;
  flex-direction: row;
}

.banner .banner-sale-off-item {
  width: 50%;
  position: relative;
  padding: 0 15px;
}
.banner .banner-sale-off-item .banner__image {
  height: 100%;
}
.banner .banner-sale-off-item .banner__image-default {
  height: 420px;
  width: 670px;
  background: #cccccc;
}
@media (max-width: 1300px) {
  .banner .banner-sale-off-item .banner__image-default {
    width: 600px;
  }
}
.banner .banner-sale-off-item .banner__image img {
  height: 100%;
}
@media (max-width: 768px) {
  .banner .banner-sale-off-item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.banner .banner-sale-off-item .banner__image img {
  width: 100%;
}

.banner .banner__item {
  width: 25%;
}
.banner .img__wrapper {
  max-height: 700px;
  /* max-width: 500px; */
  padding: 0 15px;
}
.banner .img__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .img__wrapper .banner-img-default {
  background: #cccccc;
  width: 400px;
  height: 700px;
}
@media (max-width: 1700px) {
  .banner .img__wrapper .banner-img-default {
    width: 290px;
    height: 570px;
  }
}

.banner-content {
  text-align: center;
  padding: 0 15px;
  margin: auto;
}
.banner .banner-content .banner-content__title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px;
}
.banner .banner-content .banner-content__subtitle {
  max-width: 400px;
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0 auto 30px;
}
.banner-content__discover {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  /* text-transform: uppercase; */
  line-height: 0;
  position: relative;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.banner-content__discover i {
  margin-left: 29px;
}
.banner-content__discover::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.banner-content__discover:hover {
  color: #000;
}
.banner-content__discover:hover::before {
  width: 0;
}

@media screen and (max-width: 1024px) {
  .banner .banner-content .banner-content__title {
    font-size: 40px;
  }
  .banner .banner-content .banner-content__subtitle {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner .banner__item {
    width: 50%;
  }
  .banner .img__wrapper {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .banner .banner-sale-off-item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .banner .banner__item {
    width: 100%;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  .banner .img__wrapper:first-child,
  .banner .img__wrapper:last-child {
    display: none;
  }
  .banner-content {
    text-align: left;
  }
  .banner .banner-content .banner-content__subtitle {
    margin: 0 0 65px 0;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
}
