.portfolio-3 .title-portfolio-album-1 {
  margin-bottom: -35px;
}

.portfolio-3 .big-title-portfolio {
  position: absolute;
  bottom: 101px;
  text-align: start;
  left: -364px;
}

@media (max-width: 1700px) {
  .portfolio-3 .big-title-portfolio {
    left: 0;
  }
}
