.announcement-bar {
  display: flex;
  align-items: center;
  justify-content: center; }
.announcement-bar .icon-close svg {
  width: 20px; }

.close-announcement {
  display: none; }

#announcement-v2 {
  background: #000;
  padding: 10px 0; }

  @media screen and (max-width: 1024px) {
    #announcement-v2 {
      display: none;
    }
  }

#announcement-v2 .container {
  padding: 0;
}
#announcement-v2 .announcement-bar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  color: #8c8c8c;
  letter-spacing: 0; }
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html b {
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-right: 10px;
  letter-spacing: 0; }
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html svg {
  margin-right: 10px;
  fill: #c69251;
  max-width: 25px; }
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html p {
  font-weight: 500;
  margin: 0; 
  margin-right: 16px;
}
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html p strong {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 5px;
}
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph {
  overflow: hidden;
  position: relative;
  display: flex;
}
#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph p {
  white-space:nowrap;
  font-size: 16px;
  height: 100%;
  margin: 0;
  text-align: left;
  /* Apply animation to this element */	
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;            
}

#announcement-v2 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph::after {
  content: '';
  position: absolute;
  width: 75%;
  text-align: right;
  height: 100%;
  background: linear-gradient(90deg, transparent 15%, rgba(14,1,1,1) 100%);
  opacity: 0.5;
  right: 0;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
    0%   { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(200px); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
    }
}

#announcement-v2 .announcement-bar__content .announcement-bar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials {
  display: flex;
  align-items: center; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul {
  margin: 0; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item {
  width: auto;
  padding: 0 0 0 10px;
  display: inline-flex;
  align-items: center; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item a svg {
  max-width: 30px;
  fill: #999;
  height: 20px; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item:hover a svg {
  transform: scale(1);
  fill: var(--color-accent); }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item .icon {
  width: auto;
  height: auto; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__currency {
  margin-left: 40px; }
#announcement-v2 .announcement-bar__content .announcement-bar__right .announcement-bar__currency select {
  border: 0;
  background: #000;
  color: #fff;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.4em; }

#announcement-v3 {
  padding: 10px 0; }
@media screen and (max-width: 1410px) {
  #announcement-v3 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 992px) {
  #announcement-v3 {
    display: none;
  }
}
#announcement-v3 .container {
  padding: 0;
}
#announcement-v3 .announcement-bar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html {
  display: flex;
  align-items: center;

  font-size: 16px;
  font-weight: 300;
  line-height: 1.4em;
  color: #8c8c8c;
  letter-spacing: 0; }
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html b {
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  margin-right: 10px;
  letter-spacing: 0; }
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html svg {
  margin-right: 14px;
  max-width: 22px; 
}
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html svg path{
  fill: #fff;
}
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html p {
  color: #fff;
  margin: 0 35px 0 0;
  font-size: 16px;
  font-weight: 400;
}
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph {
  overflow: hidden;
  position: relative;
  display: flex;
}
#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph p {
  white-space:nowrap;
  font-size: 16px;
  height: 100%;
  margin: 0;
  text-align: left;
  /* Apply animation to this element */	
  -moz-animation: scroll-left 5s linear infinite;
  -webkit-animation: scroll-left 5s linear infinite;
  animation: scroll-left 5s linear infinite;            
}

#announcement-v3 .announcement-bar__content .announcement-bar__left .header-canvas__html .wrapper-paragraph::after {
  content: '';
  position: absolute;
  width: 75%;
  text-align: right;
  height: 100%;
  background: linear-gradient(90deg,transparent 15%,rgba(11,136,238,1) 100%);
  opacity: 0.5;
  right: 0;
}


#announcement-v3 .announcement-bar__content .announcement-bar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end; }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials {
  display: flex;
  align-items: center; 
  margin-right: 30px;
}
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul {
  margin: 0; }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item {
  width: auto;
  padding: 0 0 0 10px;
  display: inline-flex;
  align-items: center; }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item a svg {
  /* max-width: 20px; */
  fill: #fff;
  height: 20px; }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item:hover a svg {
  transform: scale(1);
  fill: var(--color-accent); }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__socials ul .list-social__item .icon {
  /* width: ;
  height: ;  */
}
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__currency {
  margin-left: 40px; }
#announcement-v3 .announcement-bar__content .announcement-bar__right .announcement-bar__currency select {
  border: 0;
  background: transparent;
  color: #fff;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em; }
