.rich-text .rich-text__blocks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rich-text .rich-text__blocks .rich-text__heading {
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0;
  margin-bottom: 0;
}
.rich-text .rich-text__blocks .rich-text__text {
  font-weight: 300;
  letter-spacing: 0;
  line-height: 1.2;
}
.rich-text .rich-text__blocks .rich-text__text p {
  color: #7c7c7c;
  font-weight: 400;
}

.rich-text-position__left {
  align-items: start;
  padding-left: 50px;
}

.rich-text-position__center {
  align-items: center;
}

.rich-text-position__right {
  align-items: end;
  padding-right: 50px;
}
