/**
 * Basic typography style for copy text
 */
body {
  color: var(--color-body);

  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 20px;
  letter-spacing: 0;
}
html {
  overflow-x: hidden;
}
.button-primary {
  font-size: calc(var(--btprimary-textfs) * 1px) !important;
  color: var(--btprimary-tcolor) !important;
  background: var(--btprimary-bg) !important;
  border-radius: calc(var(--btprimary-bradius) * 1px) !important;
  border: 1px solid var(--btprimary-bcolor) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.button-primary:hover {
  color: var(--btprimary-textcolorhover) !important;
  background-color: var(--btprimary-bgcolorhover) !important;
  border-color: var(--btprimary-bcolorhover) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.button-secondary {
  font-size: calc(var(--btsecondary-textfs) * 1px) !important;
  color: var(--btsecondary-tcolor) !important;
  background: var(--btsecondary-bg) !important;
  border-radius: calc(var(--btsecondary-bradius) * 1px) !important;
  border: 1px solid var(--btsecondary-bcolor) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.button-secondary:hover {
  color: var(--btsecondary-textcolorhover) !important;
  background-color: var(--btsecondary-bgcolorhover) !important;
  border-color: var(--btsecondary-bcolorhover) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.button-tertiary {
  font-size: calc(var(--bttertiary-textfs) * 1px) !important;
  color: var(--bttertiary-tcolor) !important;
  background: var(--bttertiary-bg) !important;
  border-radius: calc(var(--bttertiary-bradius) * 1px) !important;
  border: 1px solid var(--bttertiary-bcolor) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.button-tertiary:hover {
  color: var(--bttertiary-textcolorhover) !important;
  background-color: var(--bttertiary-bgcolorhover) !important;
  border-color: var(--bttertiary-bcolorhover) !important;
  transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}
:root {
  --font-DM-family: 'Jost', sans-serif;
  // --font-Qs-family: 'Quicksand', sans-serif;
}
