.blog-sidebar {
  .blog-sidebar__item {
    .banner__item {
      img {
        height: 100%;
        width: 100%;
      }
      .banner-item-img-default {
        background: #cccccc;
      }
    }
  }
}
.blog-description-section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.main-blog__blog-articles {
  article {
    max-width: 440px;
    position: relative;
    .circle-divider {
      time {
        font-size: 16px;
        line-height: 1.8em;
        font-weight: 300;
        color: #7c7c7c;
        -webkit-transition: all 0.3s 0s ease;
        -moz-transition: all 0.3s 0s ease;
        -o-transition: all 0.3s 0s ease;
        transition: all 0.3s 0s ease;
      }
    }
  }
}
.article-card__image {
  position: relative;
  .blog-number {
    color: #000;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
.main-blog {
  .pagination-wrapper {
    margin-top: 80px;
  }
}
/* Blog detail */
.main-article-section {
  #comment_form {
    .comment-style {
      padding: 25px 0 70px;
    }
    .field {
      label {
        display: none;
      }
    }
    .field__input {
      font-size: 18px;
      line-height: 1.4em;
      color: #282828;
      font-weight: 300;
      height: auto;
      padding: 14px 22px;
    }
    .btn-comment {
      background: #000000;
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      padding: 14px 20px;
      height: auto;
      min-height: unset;
      letter-spacing: -1px;
      min-width: unset;
    }
  }
  article {
    header {
      max-width: 1000px;
      margin: auto;
      h1.article-template__title {
        text-align: left;
      }
    }
  }
  .article-template__content {
    margin: 40px auto 0;
    max-width: 1000px;
    .blog-img {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0 40px;
      //.img-left{
      //  padding: 0 18px;
      //}
      //.img-right{
      //  padding: 0 15px;
      //}
    }
    img {
      max-width: 100%;
      display: block;
    }
    p {
      line-height: 30px;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }
    blockquote {
      font-style: italic;
      font-size: 18px;
      line-height: 33px;
      color: #7c7c7c;
      padding: 0 30px;
      margin: 17px 0 20px;
    }
  }
  .article-template-item__date {
    display: flex;
    align-items: center;
    svg {
      fill: #ffae47;
      stroke: #ffae47;
      margin-right: 10px;
    }
    time {
      color: #282828;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .article-template-item__author {
    display: flex;
    align-items: center;
    .articleAuthor {
      color: #282828;
      font-size: 16px;
      font-weight: 400;
    }
    svg {
      fill: #ffae47;
      stroke: #ffae47;
      margin-right: 10px;
    }
  }
}
