.tabs-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
    .tab {
        margin-right: 40px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #000;
            bottom: 0;
            left: 0;
            // transition: all 0.3s ease;
            // -moz-transition: all 0.3s ease;
            // -o-transition: all 0.3s ease;
            // -webkit-transition: all 0.3s ease;
        }
    }
    .tab.active-tag {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            bottom: 0;
            left: 0;
            // transition: all 0.3s ease;
            // -moz-transition: all 0.3s ease;
            // -o-transition: all 0.3s ease;
            // -webkit-transition: all 0.3s ease;
        }
    }
}

.wrapper-portfolio {
    display: flex;
    max-width: 1820px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 1820px) {
        justify-content: center;
    }
    @media (max-width: 450px) {
        padding: 0 15px;
    }

    .hide-item {
        // display: none;
        position: absolute;
        bottom: -50%;
        opacity: 0;
        visibility: hidden;
        height: 0;
        width: 0;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;

        .item__link {
            h3, .filter-tag-item {
                display: none;
            }
            .info-item {
                display: none;
            }
        }
    }
    .item {
        position: unset;
        margin-bottom: 20px;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        &:last-child {
            .item__image {
                svg.default-image {
                    border-right: 0;
                }
            }
        }
        .item__image {
            cursor: pointer;
            position: relative;
            display: flex;
            justify-content: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000000;
                visibility: hidden;
                opacity: 0;

                transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                z-index: 1;
            }

            &:hover {
                svg.icon-zoom {
                    visibility: visible;
                    opacity: 1;
                }

                &::after {
                    visibility: visible;
                    opacity: 0.3;
                }
            }

            img {
                width: 100%;
                height: auto;
            }
            svg.default-image {
                width: 400px;
                background-color: #cccccc;
                border-right: 1px solid #000;
            }
            svg.icon-zoom {
                position: absolute;
                align-self: center;
                filter: invert(1);
                position: absolute;
                align-self: center;
                transform: rotate(90deg);
                width: 35px;
                height: 35px;

                visibility: hidden;
                opacity: 0;

                transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
                z-index: 2;
            }
        }

        .item__link {
            display: inline-block;
            margin-top: 23px;
            
            h3 {
                position: relative;
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 0;

                &:after {
                    content:'';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #000000;
                    transform: scaleX(0);
                    transform-origin: bottom right;
                    // transition: transform 0.3s;
    
                    transition: transform 0.3s ease;
                    -moz-transition: transform 0.3s ease;
                    -o-transition: transform 0.3s ease;
                    -webkit-transition: transform 0.3s ease;
                }
            
                &:hover {
                    &:after {
                        transform-origin: bottom left;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

.wrapper-portfolio.style-2 {
    .item {
        position: relative;
        overflow: hidden;
        .item__image {
            z-index: -2;
        }
        .parent-item-info {
            position: absolute;
            bottom: -40%;
            width: 100%;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            .info-item {
                width: 100%;
                // position: absolute;
                bottom: 0;
                .wp-content {
                    padding: 23px 0px;
                    padding-left: 30px;
                    position: relative;
                    .filter-tag-item {
                        margin-bottom: 8px;
                        color: #ffe400;
                        font-size: 16px;
                        font-weight: 300;
                        
                    }
                    .item__link {
                        margin-top: 0;
                        h3 {
                            color: #ffffff;
                            font-size: 24px;
                            font-weight: 500;
                            margin-bottom: 0;
                            letter-spacing: 0;
                            &::after {
                                background-color: #ffffff;
                            }
                        }
                    }
                    &::after {
                        content: '';
                        background-color: #000000;
                        opacity: 0.8;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                    }
                }
            }
        }

        &:hover {
            .parent-item-info {
                bottom: 0;
            }
        }
    }
}

.wrapper-portfolio.style-3 {
    max-width: 1410px;
    justify-content: unset;
    .item {
        padding-left: 0;
        padding-right: 30px;
        &:nth-child(3n) {
            padding-right: 30px;
        }

        .info-item {
            background: #ffffff;
            box-shadow: 1px 3px 16px -3px rgba(0,0,0,0.07);
            -webkit-box-shadow: 1px 3px 16px -3px rgba(0,0,0,0.07);
            -moz-box-shadow: 1px 3px 16px -3px rgba(0,0,0,0.07);
            .wp-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 27px 0px;
                .filter-tag-item {
                    margin-bottom: 0;
                    margin-bottom: 8px;
                    color: #3ea6ff;
                    font-size: 16px;
                    font-weight: 300;
                }
                .item__link {
                    margin-top: 0;
                    h3 {
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 0;
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
}