.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  max-width: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.product-single__media {
  width: 100%;
}
.main-product {
  align-items: flex-start;
  .product_action__sizeguide {
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9999; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto; /* 5% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      height: auto;
      img {
        max-width: 100%;
      }
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
  position: relative;
  .background-image-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .product__info-container {
    padding-right: 0;
    .product-information {
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 19px;
        li {
          width: 50%;
          display: flex;
          flex-direction: row;
          margin-bottom: 11px;
          font-size: 16px;
          line-height: 30px;
          color: #000;
          font-weight: 400;
          .pi-title {
            margin-right: 20px;
            font-weight: 600;
            width: 30%;
          }
          .pi-content {
            width: 70%;
          }
        }
      }
    }
    .product__description {
      font-weight: 300;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 25px;
    }
    .spr-summary-starrating {
      margin-bottom: 27px;
      display: flex;
      align-items: center;
      font-size: 18px;
      .spr-stars {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4em;
        letter-spacing: 0;
        span {
          display: flex;
          svg {
            display: inline-block;
            width: 18px !important;
            height: 18px !important;
            margin: 0;
          }
        }
      }
      a {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.4em;
        color: #000;
      }
    }
  }
  .product-form__quantity {
    .quantity {
      .quantity__input {
        font-size: 18px;
        line-height: 30px;
        color: #000;
        font-weight: 600;
        padding: 0 15px;
        height: 60px;
      }
      background: #fff;
    }
  }
  .product-form__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 27px;
    .shopify-payment-button {
      width: 100%;
    }
    .shopify-payment-button__button {
      font-size: 18px;
      line-height: 30px;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      min-height: unset;
      height: auto;
      padding: 13px 0;
      background: #4fbd1f;
      border: 1px solid #4fbd1f;
      letter-spacing: 0;
    }
    .shopify-payment-button__button:hover {
      background: transparent;
      color: #000;
      border: 1px solid #000;
    }
  }
  @media screen and (max-width: 979px) {
    flex-direction: column;
  }
}
.main-product.main-product-default {
  .product__info-container {
    padding-left: 65px;
  }
}
.product-description-section {
  margin: 61px auto 70px;
  // max-width: 1000px;
  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
  @media (min-width: 1680px) {
    max-width: 1410px;
  }
  @media (max-width: 575px) {
    padding: 0px 16px;
  }
  h3.main-product-description {
    font-size: 24px;
    line-height: 1.4em;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 37px;
    &:after {
      height: 2px;
      width: 100%;
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      background: #000;
    }
  }
  @media (max-width: 1500px) {
    margin: 40px auto;
  }
  .product__description {
    p {
      font-size: 18px;
      line-height: 28px;
      color: #000;
      font-weight: 300;
      margin-bottom: 25px;
    }
    ul {
      list-style: disc;
      margin: 0 20px;
      li {
        padding: 8px 0;
      }
    }
  }
  .tab-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 23px;
    .tab {
      margin-right: 20px;
      .tablinks.active {
        &:after {
          opacity: 1;
          visibility: visible;
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
        }
      }
      .tablinks {
        font-size: 24px;
        line-height: 60px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        border: 0;
        box-shadow: none;
        padding: 0;
        position: relative;
        letter-spacing: 0;
        &:after {
          position: absolute;
          content: "";
          height: 2px;
          background: #000;
          left: 0;
          bottom: 12px;
          width: 100%;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
        }
        @media (max-width: 768px) {
          text-transform: none;
        }
      }
    }
  }

  .tab-header.main-product-default-desc {
    .tab {
      .tablinks {
        font-weight: 500;
      }
    }
  }

  .tab-content {
    .content {
      font-size: 16px;
      line-height: 26px;
      color: #7c7c7c;
      font-weight: 400;
      p {
        font-size: 16px;
        line-height: 26px;
        color: #7c7c7c;
        font-weight: 400;
        margin-bottom: 25px;
      }
    }
  }
}
.sf-pqv__button {
  width: 100%;
  background: #fff;
}
.quantity-and-cart {
  justify-content: space-between;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .product-form__input {
    margin: 0;
  }
}
.ul-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.estimated_delivery {
  display: flex;
  align-items: center;
}
.shipping {
  display: flex;
  align-items: center;
  @media (max-width: 415px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.flash-sale {
  margin: 50px 0 30px;
  width: 100%;
}
.product__flashsale {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 1366px) {
    flex-direction: column;
  }
  h3.shake {
    svg {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }
  h3 {
    display: flex;
    align-items: center;
    justify-content: start;

    font-size: 18px;
    font-weight: 700;
    line-height: 1.4em;
    color: #f03d3d;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
    @media (max-width: 1366px) {
      margin-bottom: 30px;
    }
    svg {
      fill: #f03d3d;
      stroke: #f03d3d;
      margin-right: 10px;
    }
  }
  #flashsale {
    display: flex;
    margin-left: 30px;
    .item.sec {
      background: #fff;
      color: #000;
      border: 2px solid #000;
      span {
        color: #000;
      }
    }
    .item {
      font-size: 24px;
      line-height: 30px;
      color: #000;
      font-weight: 700;
      background: #fff;
      margin-right: 20px;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 80px;
      -webkit-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 5px 4px 10px 0px rgba(0, 0, 0, 0.2);
      &:last-child {
        margin-right: 0;
      }
      span {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.4em;
        color: #727272;
      }
    }
  }
}
.mpslider__main {
  width: 100%;
  height: auto;
}
.mpslider__thumb {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
.slide-vertical {
  display: flex;
  flex-direction: row-reverse;
  .mpslider__main {
    width: 80%;
  }
  .mpslider__thumb {
    height: 50%;
    width: 20%;
    padding: 0;
    .swiper-slide {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }
}
.slide-normal {
  .mpslider__main {
    width: 100%;
  }
  .mpslider__thumb {
    height: 20%;
  }
}
.product__media-slider {
  .product__media-item {
    width: 100%;
    background: transparent;
    align-items: flex-start;
    .product__media {
      width: 100%;
    }
  }
}
// The new single product
section.main-product {
  .product__media-wrapper {
    margin-right: 16px;
  }
  .collection-breadcrumb-section {
    margin: 0 -15px;
    padding-left: 15px;
  }
  .product__info-container {
    .product__title {
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 25px;
      text-transform: capitalize;
      font-weight: 300;
    }
    .price--on-sale {
      .price__sale {
        .price-item--last {
          color: #000;
          font-weight: 400;
        }
        .price-item--regular {
        }
      }
    }
    .product__left:before {
      background: #f03d3d;
    }
    .product-form__input .form__label,
    fieldset.product-form__input .form__label {
      font-size: 16px;
      line-height: 1.4em;
      color: #000;
      font-weight: 400;
    }
    .product-form__buttons {
      .product-form__submit {
      }
    }

    variant-radios {
      margin-bottom: 20px;
    }

    product-form {
      .product-form__buttons {
        button {
          &:first-child {
            margin-right: 16px;
          }
        }
      }
    }
  }

  .product {
    display: flex;
    flex-direction: row;
    .product__media-wrapper {
      width: 50%;
      .mpslider__main {
        width: 75%;

        .swiper-wrapper {
          .wp-img-main {
            img {
              width: 100%;
              height: auto;
              cursor: zoom-in;
            }
          }
        }
      }
      .wp-list-thumb-main-product-default {
        height: 100%;
        width: calc(25% - 30px);
        margin-right: 30px;
        .swiper-button-next.sv-thumb-button-next {
          text-align: center;
          display: none;
        }

        .swiper-button-prev.sv-thumb-button-prev {
          text-align: center;
        }
        .mpslider__thumb {
          position: relative;
          justify-content: center;
          width: 100%;
        }
      }
    }
    .product__info-wrapper {
      width: 50%;
    }
    .slide-vertical {
      align-items: start;
      .mpslider__thumb {
        max-height: 600px;
        height: auto;
        display: flex;
        .swiper-slide-active.product__media-item {
          opacity: 1;
        }
        .product__media {
          height: 100%;
          img {
            height: 100%;
          }
        }
        .product__media-item {
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 979px) {
  .product__media--horizontal .slide-horizontal__main {
    padding: 0 20px;
  }
  .product__media--horizontal .slide-horizontal__main .icon-share {
    position: relative;
    left: 0;
    margin-bottom: 20px;
  }
  .product__media--horizontal
    .slide-horizontal__main
    .icon-share
    .wp-social-icon {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
    background: #ffffff;
    position: relative;
    width: max-content;
    left: 0;
    bottom: 100%;
    padding: 11px;
    border: 1px solid #ccc;
    transform: none;
    display: flex;
    transform-origin: unset;
  }
  .product__media--horizontal .slide-horizontal__main .icon-share > svg {
    display: none;
  }
  .product__media--horizontal
    .slide-horizontal__main
    .icon-share
    .wp-social-icon:before {
    display: none;
  }
  .product__media--horizontal
    .slide-horizontal__main
    .icon-share
    .wp-social-icon:after {
    display: none;
  }
  .product__media--horizontal .slide-horizontal__thumb {
    padding: 0 50px;
  }
  .product__media--horizontal .slide-horizontal__thumb .thumb-button-prev {
    left: 15px;
  }
  .product-section
    .main-product-full
    .product__media--vertical
    .slide-vertical__thumb {
    height: 365px;
  }
  .product-section
    .main-product-full
    .product__media--vertical
    .slide-vertical__thumb
    .product__media-item {
    height: 120px !important;
  }
}

// Zone gift card
.gift-card-custom {
  .collection-breadcrumb-section {
    text-align: center;
  }
  .product.main-product {
    border-bottom: unset;
    .product__media-wrapper {
      background-color: #fafaf8;
      padding: 39px 100px;
      .product__media-list {
        .wrapper-left {
          .product__media-item {
            .product__media {
              img {
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .product__info-wrapper {
      .product__info-container {
        .no-js-hidden {
          display: flex;
          justify-content: space-between;
          .price {
            .price__sale {
              flex-direction: row-reverse;
              .price-item--sale {
                margin-right: 45px;
              }
            }
          }
          .stars {
            font-size: 20px;
            line-height: 1;

            &::before {
              content: "★★★★★";
              letter-spacing: 3px;
              // background: linear-gradient(90deg, #fc0 var(--percent), #ccc var(--percent));
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        .wp-variants-button-atc {
          display: flex;
          margin-bottom: 30px;
          variant-selects {
            width: 100%;
            align-self: end;
            margin-right: 35px;
            flex-basis: 90%;
            .product-form__input {
              display: block;
              margin-bottom: 0;
              width: 100%;
              label {
                margin-bottom: 15px;
              }
              .select {
                select {
                  border: 1px solid #e5e5e5;
                }
              }
            }
          }
          .wp-product-form {
            width: 100%;
            product-form {
              form {
                .product-form__buttons {
                  margin-bottom: 0;
                  display: block;

                  .send-gift {
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }

        .description-gift-card {
          font-size: 20px;
          line-height: 35px;
        }

        .product_action {
          border-bottom: unset;
          ul {
            li {
              margin-right: 30px;

              .social-item {
                display: flex;
                span {
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }
  }
}
