//---- Custom animate -----
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeLeftRight {
  from {
    transform: translate3d(20px, 0px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeLeftRight {
  from {
    transform: translate3d(20px, 0px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.home-slider-medical {
  .slider-medical {
    // max-height: 1820px;
    // position: relative;
    .slider-medical__swiper {
      position: relative;
      .slider-medical__list {
        max-width: 1820px;
        margin: 0 auto;
        .slider-medical__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: transparent;
          position: relative;
          @media (max-width: 1023px) {
            justify-content: flex-end;
          }
          .slider-medical__bg {
            max-width: 1820px;
            margin: auto;
            img {
              width: 100%;
              height: 750px;
              object-fit: cover;
            }
            .bg-img-slider-medical {
              background: #cccccc;
              width: 1920px;
            }
          }
          .slider-medical__content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            max-width: 1410px;
            margin: auto;
            @media (max-width: 1024px) {
              justify-content: flex-end;
            }

            @media (max-width: 1680px) {
              max-width: 1320px;
            }
            @media (max-width: 1200px) {
              max-width: 1140px;
            }
            @media (max-width: 992px) {
              max-width: 960px;
            }
            @media (max-width: 768px) {
              max-width: 720px;
            }
            @media (max-width: 576px) {
              max-width: 540px;
            }
          }
          .slm-content {
            text-align: start;
            max-width: 705px;
            margin-right: 150px;
            margin-bottom: 70px;
            @media (max-width: 1450px) {
              margin-right: 0;
              padding-left: 30px;
            }
            @media (max-width: 1023px) {
              position: absolute;
              left: 0;
              top: 150px;
            }
            @media (max-width: 767px) {
              top: 170px;
              padding: 0 15px;
            }
            &__subtitle {
              font-weight: 300;
              margin-bottom: 13px;
              letter-spacing: 0;
              @media (max-width: 767px) {
                margin-bottom: 20px;
              }
            }
            &__heading {
              font-weight: 500;
              margin-bottom: 30px;
              line-height: 1.1;
              letter-spacing: 0;
              margin-bottom: 15px;
              @media (max-width: 767px) {
                font-size: 44px;
              }
            }
            &__price {
              font-weight: 400;
              margin-right: 30px;
              @media (max-width: 767px) {
                font-size: 40px;
              }
            }
            &__compare-price {
              font-weight: 400;
              text-decoration: line-through;
              @media (max-width: 767px) {
                font-size: 30px;
              }
            }
            &__btn {
              display: flex;
              align-items: center;
              justify-content: space-between;
              max-width: 330px;
              margin-top: 25px;
              @media (max-width: 767px) {
                margin-top: 45px;
                justify-content: flex-start;
              }
              .btn__cover {
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
                width: 200px;
                height: 60px;
                background: #ffffff;
                border-radius: 50px;
                overflow: hidden;
                cursor: pointer;
                @media (max-width: 767px) {
                  width: 150px;
                  height: 50px;
                  margin-right: 30px;
                }
                &:hover {
                  .btn {
                    color: #ffffff;
                  }

                  svg {
                    stroke: #ffffff;
                  }
                }
                .btn {
                  background: transparent;
                  border: none;
                  font-size: 18px;
                  font-weight: 500;
                  margin-right: 10px;
                  cursor: pointer;
                  @media (max-width: 767px) {
                    font-size: 18px;
                  }
                }

                svg {
                  stroke: #000000;
                }
              }

              .slm-content__button {
                font-size: 18px;
                font-weight: 500;
                color: #ffffff;
                text-underline-offset: 2px;
                text-decoration: underline;
                -webkit-transition: all 1s 0s ease;
                -moz-transition: all 1s 0s ease;
                -o-transition: all 1s 0s ease;
                transition: all 1s 0s ease;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
          .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: both;
          }

          .animatedFadeInUp {
            opacity: 0;
          }

          .fadeInUp {
            opacity: 0;
            animation-name: fadeInUp;
            -webkit-animation-name: fadeInUp;
          }
          .animatedFadeLeftRight {
            opacity: 0;
          }
          .fadeLeftRight {
            opacity: 0;
            animation-name: fadeLeftRight;
            -webkit-animation-name: fadeLeftRight;
          }
        }
        .slider-medical__img {
          max-width: 470px;
          margin-right: 170px;
          margin-bottom: 60px;
          @media (max-width: 1450px) {
            margin-right: 60px;
          }
          @media (max-width: 767px) {
            display: none;
          }
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        .img-slider-default {
          width: 400px;
          height: 400px;
          background: #e6e6e6;
        }
      }
      .slm-navigation-item {
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transition: all 0.5s 0s ease;
        -moz-transition: all 0.5s 0s ease;
        -o-transition: all 0.5s 0s ease;
        transition: all 0.5s 0s ease;
        z-index: 9;
        cursor: pointer;
        svg {
          stroke: #ffffff;
          -webkit-transition: all 0.5s 0s ease;
          -moz-transition: all 0.5s 0s ease;
          -o-transition: all 0.5s 0s ease;
          transition: all 0.5s 0s ease;
        }
        &:hover {
          border: 2px solid #ffe400;
          background-color: #ffe400;
          svg {
            stroke: #000000;
          }
        }
        @media (max-width: 1570px) {
          display: none;
        }
      }
      .swiper-button-prev-medical {
        left: 100px;
        @media (max-width: 1750px) {
          left: 15px;
        }
      }
      .swiper-button-next-medical {
        right: 100px;
        @media (max-width: 1750px) {
          right: 15px;
        }
      }
      .swiper-pagination {
        position: absolute;
        bottom: 120px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background: #78c1ff;
          margin-left: 6px;
          border-radius: 50px;
          opacity: 1;

          &:hover {
            background: #ffb352;
            transform: scale(1.1) translateZ(0);
            cursor: pointer;
            -webkit-transition: all 0.5s 0s ease;
            -moz-transition: all 0.5s 0s ease;
            -o-transition: all 0.5s 0s ease;
            transition: all 0.5s 0s ease;
          }
        }
        .swiper-pagination-bullet-active {
          width: 35px;
          border-radius: 50px;
          background: #f6f6f6;
        }
      }
    }
  }
}
