//---- Custom animate -----
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.home-slider-fashion {
  .wrapper__slider {
    .swiper-content__right {
      .swiper-modules {
      }
    }
    .homeslideSwiper__fashion {
      .swiper-wrapper {
        position: relative;
        &:hover {
          cursor: pointer;
          .swiper-navigation-item {
            opacity: 1;
            -webkit-transition: all 0.3s 0s ease;
            -moz-transition: all 0.3s 0s ease;
            -o-transition: all 0.3s 0s ease;
            transition: all 0.3s 0s ease;
          }
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          margin-bottom: 15%;
        }
        .swiper-slide {
          .wraper {
            position: relative;
            width: 100%;
            height: 620px;
            margin-bottom: 105px;
            img {
              width: 100%;
              opacity: 0.3;
              object-fit: cover;
              @media (max-width: 1023px) {
                height: 100vh;
              }
            }
            .swiper-slide__main {
              .custom-image-slider {
                background: #ccc;
                width: 850px;
              }
              img {
                width: 100%;
                max-width: 1000px;
                object-fit: cover;
                opacity: 1;
                @media (max-width: 767px) {
                  display: none;
                }
              }
              position: absolute;
              top: auto;
              left: 50%;
              transform: translateX(-50%);
              bottom: -8%;
              display: flex;
              justify-content: center;
              max-width: 1410px;
              height: 620px;
              @media (min-width: 576px) {
                max-width: 540px;
              }

              @media (min-width: 768px) {
                max-width: 720px;
              }

              @media (min-width: 992px) {
                max-width: 960px;
              }

              @media (min-width: 1200px) {
                max-width: 1140px;
              }

              @media (min-width: 1400px) {
                max-width: 1320px;
              }
              @media (min-width: 1680px) {
                max-width: 1410px;
              }
              @media (max-width: 767px) {
                bottom: -10%;
                width: 90%;
              }
              .swiper-slide__wrapper {
                max-width: 410px;
                padding: 0 50px;
                background-color: #ffffff;

                @media (max-width: 767px) {
                  max-width: unset;
                  padding: 0 20px;
                  background-color: unset;
                }

                .animated {
                  animation-duration: 1s;
                  animation-fill-mode: both;
                  -webkit-animation-duration: 1s;
                  -webkit-animation-fill-mode: both;
                }

                .animatedFadeInUp {
                  opacity: 0;
                }

                .fadeInUp {
                  opacity: 0;
                  animation-name: fadeInUp;
                  -webkit-animation-name: fadeInUp;
                }

                .swiper-slide__content {
                  text-align: left;
                  padding-top: 110px;
                  max-width: 300px;
                  @media (max-width: 768px) {
                    max-width: unset;
                    padding-top: 15px;
                  }
                  h2 {
                    // text-transform: uppercase;
                    line-height: 1;
                    margin-bottom: 25px;
                    font-weight: 500;
                    letter-spacing: 0;
                  }
                  h4 {
                    line-height: 1.5;
                    margin-bottom: 35px;
                    letter-spacing: 0.01rem;
                    min-width: 300px;
                    font-weight: 400;
                  }
                  a.button-default {
                    font-size: 20px;
                    // text-decoration: underline;
                    // text-underline-offset: 10px;
                    transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -webkit-transition: all 0.3s ease;
                    padding: 0;
                    position: relative;

                    &:after {
                      content: "";
                      display: block;
                      width: 100%;
                      height: 2px;
                      background-color: #000;
                      position: absolute;
                      bottom: -6px;
                      left: 0;
                      transition: all 0.3s ease;
                      -moz-transition: all 0.3s ease;
                      -o-transition: all 0.3s ease;
                      -webkit-transition: all 0.3s ease;
                    }

                    &:hover {
                      color: #000;
                      // text-decoration: unset;
                      // text-underline-offset: unset;
                      &:after {
                        // height: 0;
                        width: 0;
                      }
                    }
                  }
                  a.button-fashion {
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: 0;
                  }
                }
              }
            }
          }
        }
      }

      .swiper-pagination {
        position: absolute;
        z-index: 9;
        left: 15%;
        bottom: 184px;
        @media (max-width: 767px) {
          left: 2.6%;
          bottom: 30%;
        }
        @media (max-width: 500px) {
          left: 2.6%;
          bottom: 35%;
        }
        .swiper-pagination-bullet {
          width: 20px;
          height: 20px;
          text-align: center;
          line-height: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #000;
          opacity: 0.5;

          margin-left: 33px;
          -transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          &:hover {
            color: #c69251;
            -transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
          }
        }
        .swiper-pagination-bullet-active {
          color: #000;
          opacity: 1;
          text-decoration: underline;
          text-underline-offset: 8px;
        }
      }

      .swiper-navigation-item {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: #fff;
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 0;
        -webkit-transition: all 0.3s 0s ease;
        -moz-transition: all 0.3s 0s ease;
        -o-transition: all 0.3s 0s ease;
        transition: all 0.3s 0s ease;
        opacity: 0;
        z-index: 1;
        @media (min-width: 1024px) and (max-width: 1200px) {
          width: 67px;
          height: 67px;
        }
        @media (max-width: 1023px) {
          display: none;
          bottom: -55px;
          top: auto;
          opacity: 1;
        }
        @media (max-width: 767px) {
          display: none;
        }

        svg {
          fill: #000;
          z-index: 9;
        }
        &:hover {
          box-shadow: 0px 1px 5px 8px rgba(227, 222, 222, 0.25);
          -webkit-box-shadow: 0px 1px 5px 8px rgba(227, 222, 222, 0.25);
          -moz-box-shadow: 0px 1px 5px 8px rgba(227, 222, 222, 0.25);
          -webkit-transition: all 0.3s 0s ease;
          -moz-transition: all 0.3s 0s ease;
          -o-transition: all 0.3s 0s ease;
          transition: all 0.3s 0s ease;
        }
      }
      .swiper-button-prev {
        left: 9%;
        @media (min-width: 1201px) and (max-width: 1700px) {
          left: 3%;
        }
        @media (min-width: 1024px) and (max-width: 1200px) {
          left: 0;
        }
        @media (max-width: 1023px) {
          left: 50%;
          margin-left: -70px;
          background: #000;
          border: 1px solid #000;
          svg {
            fill: #fff;
          }
        }
      }
      .swiper-button-next {
        right: 9%;
        @media (min-width: 1201px) and (max-width: 1700px) {
          right: 3%;
        }
        @media (min-width: 1024px) and (max-width: 1200px) {
          right: 0;
        }
        @media (max-width: 1023px) {
          left: 50%;
          margin-right: -70px;
          border: 1px solid #000;
          svg {
            fill: #000;
          }
        }
      }
    }
  }
}
.swiper-slide-position__left {
  flex-direction: row;
}
.swiper-slide-position__right {
  flex-direction: row-reverse;
}
.overlay {
  &:after {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    content: "";
  }
}
