//---- Custom animate -----
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

//slider base & slider art
.home-slider {
  .wrapper {
    position: relative;
    .wrapper__slider {
      .homeslideSwiper {
        .swiper-navigation-item {
          position: absolute;
          top: 50%;
          margin-top: -65px;
          z-index: 9;
          @media (max-width: 1024px) {
            display: none;
          }
          figure {
            position: relative;
            img {
              width: 110px;
              height: 110px;
              object-fit: cover;
              border-radius: 50%;
              // @media (max-width: 768px) {
              //   width: 70px;
              //   height: 70px;
              // }
            }
          }
          &:hover {
            .icon-swiper {
              opacity: 1;
              transition: all 1s ease;
              -moz-transition: all 1s ease;
              -o-transition: all 1s ease;
              -webkit-transition: all 1s ease;
            }
          }
        }
        .swiper-button-prev {
          left: 0;
        }
        .swiper-button-next {
          right: 0;
        }
        .icon-swiper {
          position: absolute;
          top: 50%;
          right: 50%;
          margin-top: -30px;
          margin-right: -30px;
          background: #fff;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          opacity: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 1s ease;
          -moz-transition: all 1s ease;
          -o-transition: all 1s ease;
          -webkit-transition: all 1s ease;
        }
        .swiper-pagination {
          position: absolute;
          bottom: 50px;
          z-index: 9;
          width: 100%;
          text-align: center;
          .swiper-pagination-bullet {
            position: relative;
            width: 12px;
            height: 12px;
            background: #fff;
            border-radius: 50%;
            display: inline-block;
            margin-right: 15px;
            outline: none;
            -transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            &:hover {
              background: #c69251;
              -transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
            }
            &:after {
              width: 20px;
              height: 20px;
              background: transparent;
              border: 2px solid #fff;
              border-radius: 50%;
              position: absolute;
              content: "";
              top: -4px;
              left: -4px;
              right: 0;
              bottom: 0;
              display: none;
            }
          }
          .swiper-pagination-bullet.swiper-pagination-bullet-active {
            &:after {
              display: block;
            }
          }
        }
        .swiper-slide {
          overflow: hidden;
          .swiper-slide__wrapper {
            z-index: 9;
            position: absolute;
            bottom: 0;
            width: 58%;
            @media (max-width: 1525px) {
              width: 90%;
            }
            display: flex;
            flex-direction: row;
            align-items: center;
            top: 50%;
            transform: translateY(-50%);
            max-width: 1410px;

            .animated {
              animation-duration: 1s;
              animation-fill-mode: both;
              -webkit-animation-duration: 1s;
              -webkit-animation-fill-mode: both;
            }

            .animatedFadeInUp {
              opacity: 0;
            }

            .fadeInUp {
              opacity: 0;
              animation-name: fadeInUp;
              -webkit-animation-name: fadeInUp;
            }

            .swiper-slide__content {
              z-index: 9;
              max-width: 60%;
              h4 {
                font-size: 28px;
                line-height: 1.4em;
                color: #9ac78d;
                font-weight: 300;
                margin-top: 0;
                margin-bottom: 22px;
                letter-spacing: 0;
              }
              h2 {
                font-size: 70px;
                line-height: 1.14em;
                color: #d9d0b6;
                font-weight: 500;
                margin-top: 0;
                margin-bottom: 36px;
                letter-spacing: 0;
                max-width: 530px;
              }
              a {
                font-size: 18px;
                line-height: 30px;
                color: #fff;
                font-weight: 500;
                text-transform: capitalize;
                padding: 15px 53px;
                background: #c69251;
                border-radius: 30px;
                display: inline-block;
                overflow: hidden;
                outline: none;
              }
            }
          }
          > img {
            max-width: 100%;
            width: 100%;
            // height: auto;
          }
          .item-img-default {
            background: #cccccc;
          }
        }
      }
    }
  }
}
.overlay {
  &:after {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    content: "";
  }
}

// slider art
.home-slider {
  .wrapper {
    .slider-art {
      .wrapper__slider
        .homeslideSwiper
        .swiper-slide-1
        .swiper-slide__wrapper
        .swiper-slide__content {
        h4 {
          margin-bottom: 13px;
        }
        h2 {
          line-height: 1.1;
          margin-bottom: 25px;
        }
      }
    }
  }
}

//slider cosmetic
.home-slider {
  .wrapper {
    .slider-cosmetic {
      .wrapper__slider {
        .homeslideSwiper {
          .swiper-pagination {
            bottom: 50%;
            right: 2%;
            display: flex;
            flex-direction: column;
            align-items: end;
            .swiper-pagination-bullet {
              position: relative;
              width: 150px;
              height: auto;
              background: unset;
              border-radius: inherit;
              display: inline-block;
              margin-bottom: -10px;
              outline: none;
              font-size: 16px;
              visibility: hidden;
              margin-right: 0;

              &:hover {
                &:before {
                  background: #c69251;
                  -transition: all 0.3s ease;
                  -moz-transition: all 0.3s ease;
                  -o-transition: all 0.3s ease;
                  -webkit-transition: all 0.3s ease;
                }
              }

              &:before {
                display: block;
                content: "";
                width: 25px;
                height: 2px;
                background-color: #000;
                position: absolute;
                left: 110px;
                top: 50%;
                visibility: visible;
              }
            }
            .swiper-pagination-bullet.swiper-pagination-bullet-active {
              visibility: visible;
              &:after {
                display: none;
              }
              &::before {
                width: 40px;
                left: 95px;
              }
            }
          }
          .swiper-slide {
            overflow: hidden;
            .swiper-slide__wrapper {
              text-align: start;
              width: 73%;
              .swiper-slide__content {
                .swiper-slide_main-title {
                  display: flex;
                  flex-direction: column-reverse;
                  text-align: start;
                  max-width: 400px;
                  margin-bottom: 18px;
                  h2 {
                    margin-bottom: 27px;
                    line-height: 60px;
                  }
                  h4 {
                    line-height: 1.5;
                    letter-spacing: 0;
                    font-weight: 300;
                  }
                }
                a {
                  border-radius: inherit;
                  background-color: #ffae47;
                  // border: 2px solid #000;
                  color: #000;
                  padding: 13px 50px;
                  background-color: transparent;
                  border: 2px solid #000;
                  font-weight: 500;

                  &:hover {
                    color: #fff;
                  }
                }
                // a.hvr-bounce-to-right {
                //   &::before {
                //     background-color: #000;
                //   }
                //   &:hover {
                //     color: #fff;
                //   }
                // }
              }
            }
          }
        }
      }
    }
  }
}

//-------------responsive art-------------//
@media screen and (max-width: 1024px) {
  .home-slider {
    .wrapper {
      .wrapper__slider {
        .homeslideSwiper {
          .swiper-pagination {
            bottom: 30px;
          }
          .swiper-wrapper {
            .swiper-slide {
              img {
                height: 50vh;
                object-fit: cover;
              }
              overflow: hidden;
              .swiper-slide__wrapper {
                left: 10%;
                .swiper-slide__content {
                  text-align: left;
                  h4 {
                    font-size: 26px;
                  }
                  h2 {
                    font-size: 50px;
                    max-width: 400px;
                  }
                  a {
                    font-size: 18px;
                    padding: 10px 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-slider {
    .wrapper {
      .wrapper__slider {
        .homeslideSwiper {
          .swiper-pagination {
            // bottom: 5px;
          }
          .swiper-wrapper {
            .swiper-slide {
              .swiper-slide__wrapper {
                left: 15px;
                .swiper-slide__content {
                  text-align: left;
                  max-width: unset;
                  h4 {
                    font-size: 26px;
                  }
                  h2 {
                    font-size: 38px;
                    max-width: 380px;
                  }
                  a {
                    font-size: 18px;
                    padding: 10px 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 496px) {
  .home-slider {
    .wrapper {
      .wrapper__slider {
        .homeslideSwiper {
          .swiper-wrapper {
            .swiper-slide {
              .swiper-slide__wrapper {
                left: 5%;
                .swiper-slide__content {
                  text-align: left;
                  h4 {
                    font-size: 16px;
                  }
                  h2 {
                    font-size: 20px;
                    max-width: 223px;
                    margin-bottom: 10px;
                  }
                  a {
                    font-size: 14px;
                    padding: 2px 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//-------------responsive cosmetic-------------//

@media screen and (max-width: 1200px) {
  .home-slider {
    .wrapper {
      .slider-cosmetic {
        .wrapper__slider {
          .homeslideSwiper {
            .swiper-slide {
              .swiper-slide__wrapper {
                .swiper-slide__content {
                  .swiper-slide_main-title {
                    h2 {
                      font-size: 60px;
                    }
                    h4 {
                      font-size: 18px;
                      max-width: 335px;
                    }
                  }
                  a {
                    font-size: 20px;
                    padding: 7px 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home-slider {
    .wrapper {
      .slider-cosmetic {
        .wrapper__slider {
          .homeslideSwiper {
            .swiper-slide {
              .swiper-slide__wrapper {
                .swiper-slide__content {
                  .swiper-slide_main-title {
                    h2 {
                      font-size: 60px;
                    }
                    h4 {
                      font-size: 18px;
                      max-width: 250px;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      line-height: 25px;
                      -webkit-line-clamp: 2;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                    }
                  }
                  a {
                    font-size: 16px;
                    padding: 7px 16px;
                  }
                }
              }
              img {
                height: 70vh;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .home-slider {
    .wrapper {
      .slider-cosmetic {
        .wrapper__slider {
          .homeslideSwiper {
            .swiper-pagination {
              display: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .home-slider {
    .wrapper {
      .slider-cosmetic {
        .wrapper__slider {
          .homeslideSwiper {
            .swiper-slide {
              .swiper-slide__wrapper {
                .swiper-slide__content {
                  .swiper-slide_main-title {
                    h2 {
                      font-size: 60px;
                    }
                    h4 {
                      font-size: 18px;
                      max-width: 200px;
                    }
                  }
                  a {
                    font-size: 16px;
                    padding: 7px 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
