// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
button {
  border: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  &:hover{
    cursor: pointer;
  }
}
.button-wishlist{
  margin: 0;
  border: 0;
  box-shadow: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.button-wishlist.active{
  color: #ff0000;
  svg{
    fill: #ff0000;
  }
}

.js-btn-compare.added{
  color: #ff0000;
  svg{
    fill: #ff0000;
  }
}