// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.display-none {
  display: none !important;
}

.effect-menu-mobile {
  top: 0 !important;

  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.effect-sub-menu-mobile {
  position: unset !important;
  height: auto !important;
  visibility: visible !important;

  //-webkit-transition: .3s;
  //-moz-transition: .3s;
  //-ms-transition: .3s;
  //-o-transition: .3s;
  //transition: .3s;
}

#shopify-section-header {
  position: relative;
  .wrapper-header-mobile {
    display: none;
  }

  .header-mobile.open {
    top: 100px !important;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
  }

  .header-mobile {
    // display: none;
    background-color: #ffffff;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
    visibility: hidden;
    opacity: 0;
    top: -1500px;
    position: relative;

    padding-left: 0 !important;
    padding-right: 0 !important;

    &::before {
      position: absolute;
      content: "";
      top: -14px;
      right: auto;
      left: 5%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      border-bottom: 15px solid #ffffff;
      z-index: 2;
    }

    .header__logo {
      display: none !important;
    }

    .header__inline-menu {
      .list-menu {
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 17px;
        width: 100%;
        margin-bottom: 35px;
        li.has-dropdown {
          svg {
            transform: rotate(-90deg);
          }
          .sub-menu {
            width: 100%;
          }
          .sub-menu.open-sub-menu {
            .sub-menu__container {
              padding-top: 0;
              .item {
                padding-bottom: 0;
                position: relative;
                padding-left: 0;
                padding-right: 0;
                a {
                  color: #7f7f7f;
                  padding-left: 30px !important;
                }

                &::before {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 5px;
                  height: 5px;
                  background-color: #c4c4c4;
                  border-radius: 50%;

                  left: 0;
                  top: 45%;
                }
              }
            }
          }
        }
        li {
          padding-bottom: 0;
          padding-left: 35px;
          padding-right: 35px;
          a {
            &::before {
              display: none;
            }
            padding-bottom: 8px;
            border-bottom: unset;
            color: #000;
            font-size: 16px;
            font-weight: 500;
            svg {
              fill: #000;
            }
          }
        }
      }
      .contact-phone-header-mobile {
        margin-bottom: 17px;
      }
      .contact-phone-header-mobile,
      .contact-email-header-mobile {
        display: flex;
        padding: 0 35px;
        .__title-phone,
        .__title-email {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 500;
          flex-basis: 20%;
        }
        .__number-contact,
        .__email-contact {
          a {
            color: #adadad;
            font-size: 16px;
          }
        }
      }

      .contact-email-header-mobile {
        margin-bottom: 22px;
      }
      .list-social-icon-header {
        margin-top: 0;
        .list-social__item {
          padding-bottom: 0;
          a {
            border-bottom: none;
          }
        }
      }
    }
  }

  .scrolling-text__wrapper {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
    color: #8c8c8c;
    letter-spacing: 0;
    height: 25px;
    width: 100%;
    .scrolling-text__title {
      width: 50%;
      @media screen and (max-width: 1500px) {
        width: 60%;
      }
      svg {
        margin-right: 10px;
        fill: #c69251;
      }
      display: flex;
      align-items: center;
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      letter-spacing: 0;
      height: 100%;
    }
    .scrolling-text__content {
      width: 50%;
      height: 100%;
      overflow: hidden;
      position: relative;
      .text {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        animation-name: slide;
        animation-duration: 15s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        -webkit-animation-name: slide;
        -webkit-animation-duration: 15s;
        -webkit-animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
      }
      @media screen and (max-width: 1500px) {
        width: 40%;
      }
    }
  }

  .list-menu--inline {
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header-type-left {
    .header {
      .wrapper-header-left {
        justify-content: space-between;
        display: flex;
        .header-left {
          max-width: 1600px;
          width: 100%;
          .header__menu {
            .list-menu {
              .menu-item,
              .has-dropdown {
                margin-left: 13px;
                > a {
                  font-weight: 500;
                }
                a {
                  letter-spacing: 0.5px;
                }
              }
            }
          }
        }
      }
    }

    .header__logo {
      a {
        margin-left: 30px;
        img {
          height: auto;
        }
      }
    }
    .header__inline-menu > .list-menu > li > a:before {
      width: 20%;
      bottom: 30px;
      left: 15px;
      right: 0;
      height: 2px;
      background: #fff;
      position: absolute;
      content: "";
      opacity: 0;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    .header__inline-menu > .list-menu > li:hover a:before {
      background: #000;
      opacity: 1;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
    }
    .header--has-menu ul li.has-dropdown {
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .header__menu nav ul.list-menu > li.has-dropdown svg {
      fill: #000;
      position: absolute;
      right: 0;
    }
    .header__menu nav ul.list-menu > li.has-dropdown.is-mega-menu svg {
      fill: #000;
      // position: absolute;
      // right: 0;
      position: relative;
      margin-left: -10px;
    }
  }

  .header-type-center-vertical {
    .header .header-bottom ul li.has-dropdown.is-mega-menu .sub-menu {
      top: 100%;
    }

    .header--has-menu {
      ul {
        li {
          a {
            padding: 22px 17px 22px;
            color: #000;
          }
        }

        li.has-dropdown {
          svg {
            fill: #000;
          }
        }

        li.has-dropdown.is-mega-menu {
          a {
            margin-right: 7px;
          }
          svg {
            margin-top: 2px;
          }
        }

        li.current {
          a {
            color: #000;
          }
          .sub-menu {
            a {
              color: #fff;
            }
          }
        }
      }
    }

    .header {
      .header-middle {
        max-width: 1410px;
        margin: auto;
        padding: 50px 0 43px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1px solid #eee;
        padding-top: 47px;
        padding-bottom: 38px;
        @media (max-width: 1350px) {
          padding-left: 15px;
          padding-right: 15px;
        }
        .header-middle__left {
          width: 20%;

          .list-menu {
            justify-content: start;

            li {
              margin-right: 45px;

              &:last-child {
                margin: 0;
              }

              a {
                font-size: 16px;
                font-weight: 500;
                color: #000;
                -webkit-transition: all 0.3s 0s ease;
                -moz-transition: all 0.3s 0s ease;
                -o-transition: all 0.3s 0s ease;
                transition: all 0.3s 0s ease;
                padding: 0;
              }

              &:hover {
                a {
                  color: #e4c49c;
                  -webkit-transition: all 0.3s 0s ease;
                  -moz-transition: all 0.3s 0s ease;
                  -o-transition: all 0.3s 0s ease;
                  transition: all 0.3s 0s ease;
                }
              }
            }
          }
        }

        .header-middle__center {
          width: 60%;

          .header__logo {
            img {
              height: auto;
            }
          }
        }

        .header-middle__right {
          padding: 0;
          width: 20%;
        }
      }

      .header-bottom {
        .header__inline-menu {
          > .list-menu {
            > li {
              // margin-right: 33px;
              margin: 0 24px;
              &.has-dropdown {
                margin-right: 15px;
              }
              &:last-child {
                margin-right: 0;
              }
              a {
                font-size: 16px;
                padding-right: 0;
                font-weight: 500;
                padding-left: 0;
              }
              &:after {
                width: 100%;
                top: -1px;
                bottom: auto;
                left: 0;
                right: 0;
                height: 1px;
                background: #000;
                position: absolute;
                content: "";
                opacity: 0;
                transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -webkit-transition: all 0.3s ease;
              }

              &:hover {
                &:after {
                  opacity: 1;
                  transition: all 0.3s ease;
                  -moz-transition: all 0.3s ease;
                  -o-transition: all 0.3s ease;
                  -webkit-transition: all 0.3s ease;
                }
              }
            }
          }
        }

        ul {
          li.has-dropdown {
            .sub-menu {
              top: 100%;
              .item {
                a {
                  padding-left: 30px;
                  font-weight: 300;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-wrapper--border-bottom {
    border-bottom: 1px solid rgba(231, 231, 231, 0.5);
  }

  .header-type-center.fixed {
    .header-canvas__html {
      display: flex;
      align-items: center;

      font-size: 16px;
      font-weight: 300;
      line-height: 1.4em;
      color: #fff;

      b {
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        margin-right: 10px;
      }

      svg {
        margin-right: 10px;
        fill: #c69251;
      }
    }
  }

  .header-type-center {
    position: relative;
    // .header--has-menu .vertical-mega{
    //   bottom: -50px;
    // }
    .header {
      height: 88px;
      .header-canvas {
        padding-right: 0;
      }
      .header-stt-stc {
        display: flex;
        align-self: center;
        padding-left: 50px;
        flex-wrap: wrap;

        @media (max-width: 1200px) {
          padding-left: 30px;
        }
        @media (max-width: 1160px) {
          display: none;
        }

        svg {
          width: 20px;
          fill: #c69251;
          margin-right: 14px;
        }
        .header-stt {
          margin-bottom: 0;
          font-size: 16px;
          margin-right: 20px;
          font-weight: 500;
        }
        .wp-header-stc {
          overflow: hidden;
          @media (max-width: 1300px) {
            width: 30%;
          }
          // position: relative;
          // display: flex;
          .header-stc {
            // position: absolute;
            opacity: 0.3;

            white-space: nowrap;
            font-size: 16px;
            height: 100%;
            margin: 0;
            text-align: left;
            /* Apply animation to this element */
            -moz-animation: scroll-left 7s linear infinite;
            -webkit-animation: scroll-left 7s linear infinite;
            animation: scroll-left 7s linear infinite;
          }
        }
        /* Move it (define the animation) */
        @-moz-keyframes scroll-left {
          0% {
            -moz-transform: translateX(100%);
          }
          100% {
            -moz-transform: translateX(-100%);
          }
        }
        @-webkit-keyframes scroll-left {
          0% {
            -webkit-transform: translateX(100%);
          }
          100% {
            -webkit-transform: translateX(-100%);
          }
        }
        @keyframes scroll-left {
          0% {
            -moz-transform: translateX(100%); /* Browser bug fix */
            -webkit-transform: translateX(100%); /* Browser bug fix */
            transform: translateX(200px);
          }
          100% {
            -moz-transform: translateX(-100%); /* Browser bug fix */
            -webkit-transform: translateX(-100%); /* Browser bug fix */
            transform: translateX(-100%);
          }
        }
      }
      .header-center {
        a {
          font-size: 16px;
          padding-right: 28px;
          font-weight: 500;
          letter-spacing: 0.5px;
          @media (max-width: 1300px) {
            padding-right: 10px;
          }
        }
        .sub-menu {
          a {
            font-weight: 300 !important;
          }
        }

        .header__logo {
          a {
            padding-left: 27px;
            padding-right: 46px;

            @media (max-width: 1200px) {
              padding-right: 10px;
            }
          }
        }
      }
      .header__icons {
        padding-left: 0;
        @media (max-width: 1320px) {
          padding-right: 15px;
        }
      }
    }

    .header__logo {
      a {
        padding: 0 50px;
        @media screen and (max-width: 1500px) {
          padding: 0 20px;
        }
      }
    }
  }

  .header--has-menu {
    .vertical-mega {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      .vm-container {
        @media (max-width: 1024px) {
          display: none;
        }
        // max-width: 1410px;
        margin: 0 auto;
        position: relative;
        .vm-item {
          border-right: 2px solid #50cf6b;
          width: 330px;
          border-right: 2px solid #50cf6b;
          background: #fff;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 13px 0;
          -webkit-transition: all 0.3s 0s ease;
          -moz-transition: all 0.3s 0s ease;
          -o-transition: all 0.3s 0s ease;
          transition: all 0.3s 0s ease;
          &:hover {
            background: #50cf6b;
            cursor: pointer;
            -webkit-transition: all 0.3s 0s ease;
            -moz-transition: all 0.3s 0s ease;
            -o-transition: all 0.3s 0s ease;
            transition: all 0.3s 0s ease;
            .vm-item__sub {
              opacity: 1;
              visibility: visible;
              -webkit-transition: all 0.5s 0s ease;
              -moz-transition: all 0.5s 0s ease;
              -o-transition: all 0.5s 0s ease;
              transition: all 0.5s 0s ease;
            }
            &__icon {
              color: #fff;
            }
            .vm-item__name {
              color: #fff;
              -webkit-transition: all 0.3s 0s ease;
              -moz-transition: all 0.3s 0s ease;
              -o-transition: all 0.3s 0s ease;
              transition: all 0.3s 0s ease;
            }
          }
          &__icon {
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              max-width: 23px;
              max-height: 28px;
            }
          }
          &__name {
            width: 70%;

            font-size: 16px;
            font-weight: 400;
            line-height: 1.4em;
            color: #000;
            letter-spacing: 0;
            -webkit-transition: all 0.3s 0s ease;
            -moz-transition: all 0.3s 0s ease;
            -o-transition: all 0.3s 0s ease;
            transition: all 0.3s 0s ease;
          }
          &__sub {
            position: absolute;
            top: 0;
            left: 330px;
            right: 0;
            padding: 30px 30px 30px 40px;
            background: #fff;
          }
          .vm-item__sub {
            -webkit-transition: all 0.3s 0s ease;
            -moz-transition: all 0.3s 0s ease;
            -o-transition: all 0.3s 0s ease;
            transition: all 0.3s 0s ease;
            opacity: 0;
            visibility: hidden;
            .sub-top {
              display: flex;
              flex-direction: row;
              .sub-top__menu {
                width: 65%;
                padding-top: 15px;
                .sub-mega {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  li.has-dropdown {
                    width: 33.33%;
                    max-width: 33.33%;
                    > a {
                      font-size: 18px;
                      font-weight: 400;
                      line-height: 1.4em;
                      color: #000;
                      letter-spacing: 0;
                      display: block;
                      margin-bottom: 18px;
                      padding: 0;
                    }
                    ul {
                      margin-bottom: 60px;
                      li {
                        margin-bottom: 11.5px;
                        a {
                          font-size: 16px;
                          font-weight: 400;
                          line-height: 1.4em;
                          color: #717171;
                          letter-spacing: 0;
                          padding: 0;
                          &:hover {
                            color: #d6a669;
                          }
                        }
                      }
                    }
                    .has-dropdown__level3 {
                      padding-left: 10px;
                    }
                  }
                }
              }
              .sub-top__image {
                width: 35%;
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
            .sub-bottom {
              a {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.4em;
                letter-spacing: 0;
                text-transform: uppercase;
                text-decoration: underline;
                text-underline-offset: 3px;
              }
            }
          }
          .sub-top__menu {
            ul {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
    .vertical-mega.open {
      visibility: visible;
      opacity: 1;
      .vm-container {
        border-top: 2px solid #e6f6f5;
        @media (max-width: 1024px) {
          display: none;
        }
      }
      .vm-item {
        -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
          0 10px 10px rgba(0, 0, 0, 0.1);
      }
    }
    ul {
      li.has-dropdown {
        position: relative;

        a {
          &:after {
            display: none;
          }
          svg {
            fill: #d9d0b6;
          }
        }
      }

      .has-dropdown.is-mega-menu {
        position: unset;
        display: flex;
        flex-direction: row;
        align-items: center;

        > .sub-menu {
          width: 100%;
          padding: 45px 0;

          .sub-menu__container {
            display: flex;
            flex-direction: row;
            max-width: 1410px;
            flex: 1 1 0;
            margin: 0 auto;
            @media (max-width: 1680px) {
              max-width: 1320px;
            }
            > li {
              width: 25%;

              > a {
                font-size: 20px;
                line-height: 44px;
                color: #ffffff;
                font-weight: 400;
                text-transform: uppercase;
                border: 0;
              }

              ul {
                padding: 20px 0 0 0;

                li {
                  a {
                    border: 0;
                  }
                }
              }
            }
          }
        }

        &:after {
          position: relative;
        }
      }

      li {
        position: relative;

        &:hover {
          .sub-menu {
            transform: translateY(0);
            visibility: visible;
            pointer-events: auto;
            opacity: 1;
            transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            -webkit-transition: all 0.3s ease;
          }
        }

        a {
          font-size: 16px;
          line-height: 30px;
          color: #d9d0b6;
          font-weight: 400;
          padding: 35px 20px;
          display: inline-block;
          position: relative;
        }

        .sub-menu {
          width: 270px;
          position: absolute;
          top: 100%;
          background: #000000;
          left: 0;
          padding: 30px 0;
          visibility: hidden;
          pointer-events: none;
          opacity: 0;
          transform: translateY(20%);
          transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          -webkit-transition: all 0.5s ease;
          -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.1);

          a {
            font-size: 18px;
            font-weight: 300;
            line-height: 44px;
            color: #fff;
            margin: 0;
            padding: 0 0 0 30px;
            display: inline-block;
            width: 100%;
            border-left: 2px solid #000;
            transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;

            &:hover {
              color: #ffae47;
              border-color: #fff;
              transition: all 0.3s ease;
              -moz-transition: all 0.3s ease;
              -o-transition: all 0.3s ease;
              -webkit-transition: all 0.3s ease;
            }
          }
        }

        .sub-menu:before {
          content: " ";
          height: 88px;
          position: absolute;
          left: 0;
          right: 0;
          background-color: transparent;
          transform: translateY(-100%);
          display: none;
        }
      }

      li.current {
        a {
          color: #fff;
        }
      }
    }
  }

  .header__icons {
    .header__search {
      padding: 0 10px;
    }

    .search-modal {
      background: #fff;

      .search-modal__form {
        .search__button {
          bottom: 0;
        }
        button.search__button {
        }

        label {
          display: none;
        }
      }
    }

    a {
      display: inline-flex;
      align-items: center;
      margin: 0 10px;
    }

    svg {
      fill: #000;
      stroke: transparent;
    }
  }

  .header-canvas {
    display: flex;
    align-items: center;
    padding-left: 50px;
    @media screen and (max-width: 992px) {
      padding-left: 15px;
    }
    a.menu-click__mobile {
      display: none;
      align-items: center;
      // margin-left: 30px;
      svg {
        fill: #000;
        width: 20px;
        height: 20px;
      }
    }
  }

  .header__menu {
    nav {
      ul.list-menu {
        > li {
          > a {
            color: #000;
            padding: 29px 15px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            &:after {
              background: #000;
            }
          }
        }

        > li.has-dropdown {
          svg {
            fill: #000;
            margin-top: 3px;
            margin-left: 5px;
          }
        }
      }
      ul {
        li {
          .sub-menu {
            top: 100%;
          }
          a.header__menu-item {
            font-size: 16px;
            line-height: 30px;
            color: #d9d0b6;
            font-weight: 400;
            padding: 0 15px;
          }
        }
      }
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #fff;
    .header-mobile {
      // background: #1e1e19;
      position: absolute;
      width: 100%;
      //top: 0;
      padding-left: 35px;
      padding-right: 35px;

      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;

      .header__logo {
        margin-bottom: 60px;
        margin-top: 35px;
        display: flex;
        justify-content: space-between;
        a {
          padding: 0 !important;
          img {
            height: auto;
          }
        }
        button {
          svg {
            color: #ffffff;
          }
        }
      }

      nav {
        .vm-container {
          @media (max-width: 1024px) {
            display: none;
          }
          .vm-item {
            .vm-item__icon {
              display: none;
            }
            .vm-item__name {
              color: #d9d0b6;
              padding: 10px 20px;
              padding-left: 0;
              padding-bottom: 25px;
              border-bottom: 1px solid #2e2e28;
              width: 100%;
              position: relative;
              cursor: pointer;

              font-size: 16px;
            }
            .vm-item__sub {
              .sub-top {
                .sub-top__menu {
                  .sub-mega {
                    .has-dropdown {
                      a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border-bottom: 1px solid #2e2e28;
                      }
                    }
                  }
                }
                .sub-top__image {
                  display: none;
                }
              }
            }
          }
        }
        > ul {
          display: block;

          li:last-child {
            a {
              border-bottom: unset;
            }
          }

          li {
            padding-bottom: 20px;
            a {
              padding: 10px 20px !important;
              padding-left: 0 !important;
              padding-bottom: 25px !important;
              border-bottom: 1px solid #2e2e28;
              width: 100%;
              position: relative;
              cursor: pointer;

              svg {
                position: absolute;
                right: 0;
                top: 33%;
              }
            }
          }

          li.has-dropdown {
            a {
              svg {
                -webkit-transition: all 0.3s 0s ease;
                -moz-transition: all 0.3s 0s ease;
                -o-transition: all 0.3s 0s ease;
                transition: all 0.3s 0s ease;
              }
            }

            .sub-menu.open-sub-menu {
              visibility: visible !important;
              overflow: hidden;

              .sub-menu__container {
                padding: 35px 0 10px 0;
                -webkit-transition: all 0.5s 0s ease;
                -moz-transition: all 0.5s 0s ease;
                -o-transition: all 0.5s 0s ease;
                transition: all 0.5s 0s ease;
              }
            }
            .sub-menu {
              position: unset;
              padding-top: 0;
              padding-bottom: 0;
              width: 270px;
              // max-height: 0;
              top: 100%;
              left: 0;
              pointer-events: unset !important;
              -webkit-box-shadow: unset !important;
              box-shadow: unset !important;
              visibility: hidden;
              background: unset;
              overflow: hidden;

              .sub-menu__container {
                padding: 0;

                // height: 0;
                -webkit-transition: all 0.5s 0s ease;
                -moz-transition: all 0.5s 0s ease;
                -o-transition: all 0.5s 0s ease;
                transition: all 0.5s 0s ease;
              }

              li {
                padding-bottom: 28px;

                a {
                  padding-bottom: 0 !important;
                  padding-top: 0 !important;
                  border-bottom: unset;
                  color: #74726a;
                  border-left: unset !important;
                }

                &:hover a {
                  color: #d9d0b6;
                }
              }
              li:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }

  .header__icons {
    padding-right: 50px;
    svg {
      fill: #000;
      stroke: transparent;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;

      &:hover {
        fill: #e4c49c;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
      }
    }
  }

  .header-canvas__html {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
    color: #8c8c8c;
    letter-spacing: 0;

    b {
      font-weight: 600;
      text-transform: uppercase;
      color: #000;
      margin-right: 10px;
      letter-spacing: 0;
    }

    svg {
      margin-right: 10px;
      fill: #c69251;
    }
  }

  .header-medical {
    background: #fff;
    .header .header-bottom ul li.has-dropdown.is-mega-menu .sub-menu {
      top: 100%;
    }
    .header-middle {
      border-bottom: 1px solid rgba(231, 231, 231, 0.5);
      padding: 33px 0;
      &__left {
        a {
          font-size: 16px;
          letter-spacing: 0;
          font-weight: 500;
          display: inline-block;
          padding: 15px 30px;
          padding-right: 40px;
          background: #ffe400;
          border-radius: 25px;
          margin-right: 33px;
          position: relative;
          -webkit-transition: all 0.3s 0s linear;
          -moz-transition: all 0.3s 0s linear;
          -o-transition: all 0.3s 0s linear;
          transition: all 0.3s 0s linear;
          &:hover {
            background: #000;
            color: #fff;
            -webkit-transition: all 0.3s 0s linear;
            -moz-transition: all 0.3s 0s linear;
            -o-transition: all 0.3s 0s linear;
            transition: all 0.3s 0s linear;
          }
          span {
            position: absolute;
            right: -10px;
            top: calc(50% - 10px);
            display: inline-flex;
            width: 20px;
            height: 20px;
            align-items: center;
            justify-content: center;
            background: #fff;
            color: #000;
            border-radius: 50%;
          }
        }
        > span {
          font-weight: 400;
          font-size: 16px;
          line-height: 1.4em;
          letter-spacing: 0;
          @media screen and (max-width: 1500px) {
            display: none;
          }
        }
      }
      &__center {
      }
      .header-middle__right {
        padding-right: 0;
        .call-us {
          margin-right: 20px;
          font-weight: 400;
          font-size: 16px;
          a {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.4em;
            letter-spacing: 0;
            margin-left: 14px;
            letter-spacing: 0.5px;
          }
          @media (max-width: 1200px) {
            margin-right: 10px;
          }
        }
        .announcement-bar__currency {
          margin-right: 20px;
          border: 1px solid #000;
          border-radius: 25px;
          padding: 11px 48px;
          @media (max-width: 1200px) {
            margin-right: 10px;
          }
          form {
            select {
              font-size: 16px;
              font-weight: 400;
              background-color: #fff;
              border: 0;
            }
          }
        }
        a {
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .header-bottom {
      .header-bottom__left {
        width: 20%;
        @media (max-width: 1200px) {
          width: 10%;
        }
      }
      .header-bottom__center {
        @media (max-width: 1200px) {
          width: 70%;
        }
        width: 60%;
        ul.list-menu {
          > li {
            margin-right: 9px;
            &:last-child {
              margin-right: 0;
            }
            > a {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.4em;
              color: #000;
              padding: 27px 20px;
              svg {
                fill: #000;
              }
            }
          }
          > li.has-dropdown {
            > a {
              padding-right: 8px;
            }
          }
          li {
            ul.sub-menu {
              top: 100%;
            }
          }
        }
      }
      .header-bottom__right {
        width: 20%;
        form {
          position: relative;
          input {
            font-size: 16px;
            line-height: 1.4em;
            font-weight: 300;
            border: 0;
            box-shadow: none;
            background: transparent;
          }
          input.submit {
            font-size: 0;
            width: 50px;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 9;
            padding: 0;
            cursor: pointer;
          }
          svg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
          }
        }
      }
    }

    // .header--has-menu{
    //   .vertical-mega{
    //     bottom: -49px;
    //   }
    // }
  }

  .header-electronic {
    max-width: 1410px;
    margin: auto;
    .container {
      position: relative;
      padding: 0;
    }
    .header-middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 40px;
      padding-bottom: 90px;
      @media (max-width: 1400px) {
        padding-left: 15px;
        padding-right: 15px;
      }
      &__left {
        width: 20%;
        margin-right: 20px;
      }
      &__center {
        width: 60%;
        form {
          input {
            border: 1px solid #ebebeb;
            box-shadow: none;

            font-size: 18px;
            font-weight: 300;
            line-height: 1.4em;
            color: #000;
            padding: 15px 20px;
            width: 595px;
            margin-right: 15px;
            @media (max-width: 1300px) {
              width: 410px;
            }
          }
          input.submit {
            margin: 0;
            width: auto;
            border: 0;
            box-shadow: none;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.4em;
            color: #fff;
            background: #50cf6b;
            padding: 15px 40px;
            -webkit-transition: all 0.3s 0s linear;
            -moz-transition: all 0.3s 0s linear;
            -o-transition: all 0.3s 0s linear;
            transition: all 0.3s 0s linear;
            &:hover {
              cursor: pointer;
              background: #000;
              color: #50cf6b;
              -webkit-transition: all 0.3s 0s linear;
              -moz-transition: all 0.3s 0s linear;
              -o-transition: all 0.3s 0s linear;
              transition: all 0.3s 0s linear;
            }
          }
        }
      }
      &__right {
        width: 20%;
        .open-hour {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: end;
          .oh__icon {
            margin-right: 20px;
          }
          .oh__content {
            h4 {
              margin: 0;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 0;
              color: #000;
              margin-bottom: 5px;
            }
            span {
              font-size: 16px;
              font-weight: 400;
              color: #737373;
              display: inline-block;
              @media only screen and (max-width: 1120px) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .header-bottom {
      border-top: 1px solid #ebebeb;
      flex-direction: row;
      align-items: center;
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      z-index: 1026;
      background: #fff;
      max-width: 1410px;
      margin: auto;
      // padding: 3px 0;
      padding: 0;

      &__left {
        width: 20%;
        #mega-menu__click {
          margin-left: 35px;
          display: flex;
          flex-direction: row;
          font-size: 16px;
          line-height: 1.4em;
          color: #000;
          font-weight: 500;

          @media (max-width: 1200px) {
            margin-left: 30px;
          }
          svg {
            margin-right: 20px;
          }
          p {
            margin-bottom: 0;
            align-self: center;
          }
        }
      }
      &__center {
        width: 60%;
        ul.list-menu {
          li {
            .sub-menu {
              top: 100%;
            }
          }
          > li {
            &.has-dropdown {
              margin-right: -21px;
            }
            > a {
              padding: 26px 20px;
              font-size: 16px;
              line-height: 1.4em;
              color: #000;
              font-weight: 500;
              svg {
                fill: #000;
                margin-left: 2px;
              }
              &:hover {
                color: #0b88ee;
              }
            }
          }
          > li.current {
            > a {
              color: #0b88ee;
            }
          }
        }
      }
      &__right {
        width: 33%;
        @media (max-width: 1200px) {
          padding-right: 30px;
        }
        .count-product-wishlist {
          font-size: 16px;
          margin-bottom: 0;
          margin-right: 33px;
          font-weight: 400;
          @media (max-width: 1330px) {
            margin-right: 0;
          }
        }
      }
    }
    .header-bottom.not-home {
      border: 1px solid #ebebeb;
    }
  }

  .header-clothes {
    max-width: 1410px;
    margin: auto;

    @media (max-width: 1410px) {
      padding: 0 15px;
    }
    .header {
      background: transparent;
      .header-clothes-wrapper {
        .header-left {
          .header__logo {
            margin-right: 50px;
          }
          .header__menu {
            .header__inline-menu {
              .list-menu {
                li {
                  margin-right: 8px;
                  a {
                    font-weight: 500;
                  }
                  &.has-dropdown {
                    margin-right: 13px;
                  }
                }
              }
            }
          }
        }
        .header__icons {
          padding-right: 20px;
        }
      }
    }
    .header--has-menu ul li.has-dropdown {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    .header__menu nav ul.list-menu > li.has-dropdown svg {
      position: absolute;
      right: -2px;
    }

    .header__menu nav ul.list-menu > li.has-dropdown svg {
      position: relative;
      margin-left: -10px;
    }

    .header__inline-menu > .list-menu > li > a:before {
      width: 80%;
      bottom: 30px;
      left: 15px;
      right: 15px;
      height: 2px;
      background: #fff;
      position: absolute;
      content: "";
      opacity: 0;
      -webkit-transition: all 0.3s 0s linear;
      -moz-transition: all 0.3s 0s linear;
      -o-transition: all 0.3s 0s linear;
      transition: all 0.3s 0s linear;
    }
    .header__inline-menu > .list-menu > li:hover a:before {
      background: #000;
      opacity: 1;
      -webkit-transition: all 0.3s 0s linear;
      -moz-transition: all 0.3s 0s linear;
      -o-transition: all 0.3s 0s linear;
      transition: all 0.3s 0s linear;
    }

    .header-mobile {
      li.has-dropdown {
        flex-direction: column !important;
      }
    }
  }
}
.footer__blocks-wrapper {
  li.list-social__item {
    display: flex;
    align-items: center;
  }
}
.header-medical {
  padding: 0 50px;
  .header-middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    .header-middle__left {
      width: 45%;
      @media (max-width: 1500px) {
        width: 30%;
      }
      @media (max-width: 1200px) {
        width: 25%;
      }
    }
    .header-middle__center {
      width: 20%;
      @media (max-width: 1200px) {
        width: 25%;
      }
    }
    .header-middle__right {
      width: 40%;
      @media (max-width: 1500px) {
        width: 50%;
      }
    }
  }
  .header-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    .header-bottom__left {
      width: 30%;
    }
    .header-bottom__center {
      width: 40%;
    }
    .header-bottom__right {
      width: 30%;
    }
  }
}
.product__xr-button {
  display: none !important;
}
#mega-menu__click {
  &:hover {
    cursor: pointer;
  }
}
.mega-menu {
  z-index: 9999;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
}
@media only screen and (max-device-width: 1024px) {
  .menu-desktop {
    display: none;
  }
  #shopify-section-header .wrapper-header-mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 15px;
    margin-top: 35px;
    margin-bottom: 40px;

    .left-header {
      display: flex;
      .menu-click__mobile {
        cursor: pointer;
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
      .logo {
      }
    }
    .rest {
      display: flex;
      a {
        margin-right: 15px;
        display: flex;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #shopify-section-header .header-wrapper {
    padding: 0;
  }
  #shopify-section-header .lg-container {
    display: none;
  }
  #shopify-section-header .header-mobile {
    // display: block;
  }
  #shopify-section-header .header-mobile.effect-menu-mobile {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s 0s ease;
    -moz-transition: all 0.3s 0s ease;
    -o-transition: all 0.3s 0s ease;
    transition: all 0.3s 0s ease;
  }
  .scrolling-text__title {
    display: none !important;
  }
  .scrolling-text__content {
    display: none !important;
  }
  #shopify-section-header
    .header
    .header-mobile
    .header__logo
    a
    img.header__heading-logo {
    display: none;
  }
}
.sub-menu.open-sub-menu {
  visibility: visible !important;
  overflow: hidden;

  .sub-menu__container {
    padding: 35px 0 10px 0;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
  }
}

@media (min-width: 1024px) {
  .title-mega-mobile {
    display: none !important;
  }
}
@media (max-width: 1024px) {
  .title-mega-desktop {
    display: none !important;
  }
  .sub-mega__level2 {
    display: none;
  }
}
.open-mega-menu-mobile {
  display: block;
}
