// Product detail
.product-detail {
  .product-width-container {
    max-width: 1410px;
    margin: 0 auto;
  }
  .border_bottom--true {
    border-bottom: 1px solid #e7e7e7;
  }
  .product {
    display: flex;
    flex-direction: row;
    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .product__info-wrapper {
      padding-left: 60px;
      width: 50%;
      @media (max-width: 1024px) {
        width: 100%;
      }
      @media (max-width: 1410px) {
        padding-left: 30px;
        padding-right: 30px;
      }
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
      }
      .product__info-container {
        .pb__section {
          padding: 50px 0 16px;
          .pb__wrapper {
            ul {
              li {
                svg {
                  margin: 0 15px;
                }
              }
            }
          }
        }
        .product__title {
          font-size: 36px;
          line-height: 1.4em;
          margin-bottom: 15px;
          text-transform: capitalize;
          font-weight: 500;
          letter-spacing: 0;
        }
        .price {
          justify-content: start;
          margin-bottom: 15px;
          .price__regular {
          }
          .price__sale {
            .price-item {
              font-size: 24px;
              line-height: 1.4em;
              color: #000000;
              letter-spacing: 1px;
            }
            .price-item--regular.price-item {
              color: #aaa;
            }
          }
        }
        .spr-starrating {
          .spr-stars {
            font-size: 16px;
            font-weight: 300;
            line-height: 30px;
            color: #000000;
          }
        }
        .product__left {
          position: relative;
          &:after {
            content: "";
            width: 100%;
            height: 3px;
            background: #f5f5f5;
            left: 0;
            bottom: -14px;
            position: absolute;
            z-index: 1;
          }
          &:before {
            content: "";
            height: 3px;
            background: #000;
            left: 0;
            bottom: -14px;
            position: absolute;
            z-index: 9;
          }

          strong {
            color: #f03d3d;
            font-weight: 500;
          }

          font-size: 16px;
          line-height: 30px;
          color: #000;
          font-weight: 500;
          margin-bottom: 47px;
        }
        .product__viewing {
          display: flex;
          align-items: self-start;
          justify-content: space-between;
          @media (max-width: 568px) {
            display: block;
          }
          .product__viewing-left {
            svg {
              margin-right: 10px;
            }
            b {
              margin-right: 3px;
            }
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            font-size: 16px;
            line-height: 30px;
            color: #000;
            font-weight: 400;
            @media (max-width: 1800px) {
              // margin-top: 25px;
            }
          }
          .product__viewing-sold {
            display: flex;
            align-items: center;
            svg {
              fill: #f03d3d;
              margin-right: 10px;
            }
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #f03d3d;
          }
        }
        variant-radios {
          margin-bottom: 20px;
          .product-form__input.color {
            .variant-color.active {
              &::after {
                border: 1px solid #000000;
              }
            }
            .variant-color {
              padding: 0;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin: 0 10px 0 0;
              position: relative;

              &:after {
                position: absolute;
                content: "";
                border: 1px solid #bfbfbf;
                top: -3px;
                bottom: -3px;
                left: -3px;
                right: -3px;
                border-radius: 50%;
              }
              .variant-color__white.variant-color {
                border: 1px solid #000;
              }
            }
          }
          .product-form__input {
            margin: 0 0 5px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            label.form__label {
              margin: 0;
            }
            label {
              padding: 0;
              margin: 0 30px 0 0;
              font-size: 16px;
              line-height: 60px;
              color: #989898;
              font-weight: 400;
              letter-spacing: 0;
            }
            label.active {
              color: #000;
              font-weight: 500;
            }
            .form__label {
              font-weight: 500;
              font-size: 16px;
              line-height: 60px;
              color: #000000;
              min-width: 110px;
            }
            .tooltips {
              display: none;
            }
            input[type="radio"] + label {
              //color: #000;
              //border: 1px solid #000;
              //padding: 0 10px;
            }
          }
        }
        .qty-wrapper {
          display: flex;
          flex-direction: row;
          margin-bottom: 25px;
          @media (max-width: 568px) {
            flex-direction: column;
          }
          .product-form__quantity {
            margin: 0;
            max-width: none;
            width: 40%;
            flex: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            @media (max-width: 568px) {
              margin-bottom: 16px;
            }
            .form__label {
              font-weight: 500;
              font-size: 16px;
              line-height: 60px;
              color: #000000;
              min-width: 110px;
              margin-bottom: 0;
            }
            .quantity {
              background: #f3f3f3;
              border: 0;
              .quantity__button {
                svg {
                  width: 10px;
                }
              }
              .quantity__input {
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
          .qty-wrapper__cart {
            width: 60%;
            @media (max-width: 568px) {
              width: 100%;
            }
            .product-form__buttons {
              margin-bottom: 0;
              @media (max-width: 1680px) {
                padding-left: 15px;
              }
              @media (max-width: 568px) {
                padding-left: 0;
              }
              .product-form__submit {
                font-size: 16px;
                line-height: 30px;
                color: #000;
                margin: 0;
                font-weight: 500;
                text-transform: none;
                border: 2px solid #000;
                min-height: unset;
                height: auto;
                padding: 13px 30px;
                display: flex;
                flex-direction: row;
                letter-spacing: 0;
                width: 275px;
                -webkit-transition: all 0.3s 0s linear;
                -moz-transition: all 0.3s 0s linear;
                -o-transition: all 0.3s 0s linear;
                transition: all 0.3s 0s linear;

                @media (max-width: 1370px) {
                  width: 100%;
                  padding: 13px 7px;
                }
                &:hover,
                &:focus,
                &:active {
                  color: #fff;
                  -webkit-transition: all 0.3s 0s linear;
                  -moz-transition: all 0.3s 0s linear;
                  -o-transition: all 0.3s 0s linear;
                  transition: all 0.3s 0s linear;
                  svg {
                    fill: #fff;
                    -webkit-transition: all 0.3s 0s linear;
                    -moz-transition: all 0.3s 0s linear;
                    -o-transition: all 0.3s 0s linear;
                    transition: all 0.3s 0s linear;
                  }
                }
                svg {
                  margin-right: 10px;
                  width: 22px;
                  height: 22px;
                  -webkit-transition: all 0.3s 0s linear;
                  -moz-transition: all 0.3s 0s linear;
                  -o-transition: all 0.3s 0s linear;
                  transition: all 0.3s 0s linear;
                }
              }
            }
          }
        }
        .product-form {
          form.form {
            .product-form__buttons {
              .shopify-payment-button__button {
                font-size: 18px;
                font-weight: 500;
                color: #fff;
                background: #3ea6ff;
                text-transform: none;
                border-radius: 0;
                -webkit-transition: all 0.3s 0s linear;
                -moz-transition: all 0.3s 0s linear;
                -o-transition: all 0.3s 0s linear;
                transition: all 0.3s 0s linear;
                border: 1px solid #3ea6ff;
                &:hover {
                  background: transparent;
                  color: #000;
                  -webkit-transition: all 0.3s 0s linear;
                  -moz-transition: all 0.3s 0s linear;
                  -o-transition: all 0.3s 0s linear;
                  transition: all 0.3s 0s linear;
                  border-color: #000;
                }
              }
            }
          }
        }
        .product_action {
          border-bottom: 1px solid #e0e0e0;
          padding-bottom: 25px;
          margin-bottom: 34px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          @media only screen and (max-width: 1366px) {
            flex-wrap: wrap;
          }

          .product_action__sizeguide {
            @media (max-width: 523px) {
              margin-top: 20px;
            }
            button {
              color: #5275cd;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.4em;
              text-transform: uppercase;
              -webkit-transition: all 0.3s 0s linear;
              -moz-transition: all 0.3s 0s linear;
              -o-transition: all 0.3s 0s linear;
              transition: all 0.3s 0s linear;
              padding: 0;
              &:hover {
                color: #000;
                -webkit-transition: all 0.3s 0s linear;
                -moz-transition: all 0.3s 0s linear;
                -o-transition: all 0.3s 0s linear;
                transition: all 0.3s 0s linear;
              }
            }
          }
          ul {
            padding-left: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            li {
              font-size: 16px;
              line-height: 20px;
              color: #000;
              font-weight: 400;
              margin: 0 30px 0 0;
              display: flex;
              flex-direction: row;
              align-items: center;
              @media (max-width: 460px) {
                margin-right: 10px;
              }
              a {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
              .share-button__button {
                font-size: 16px;
                line-height: 20px;
                color: #000;
                font-weight: 400;
                display: flex;
                padding: 0;
                align-items: center;
              }
              svg {
                margin-right: 10px;
                @media (max-width: 460px) {
                  margin-right: 5px;
                }
              }
            }
          }
        }
        .estimated_delivery {
          ul {
            padding: 0;
            margin: 0;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
            }
            li.delivery__text {
              font-size: 16px;
              p {
                margin: 0;
                font-weight: 400;
                span {
                  font-weight: 400;
                }
              }
            }
            li.delivery__additional {
              p {
                font-weight: 300;
                margin: 0;
                line-height: 1.4em;
              }
            }
            li.delivery__badges {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-top: 15px;
              span {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px;
              }
              strong {
                font-weight: 600;
              }
              p {
                margin: 0;
              }
              img {
                max-width: 100%;
                height: auto;
              }
            }
          }
          svg {
            margin-right: 10px;
          }

          font-size: 18px;
          line-height: 36px;
          color: #000;
          font-weight: 300;
          b {
            font-weight: 600;
            margin-right: 5px;
          }
        }
        .shipping {
          svg {
            margin-right: 10px;
          }
          span {
            margin-right: 10px;
          }
          font-size: 16px;
          line-height: 36px;
          color: #000;
          font-weight: 400;
        }
      }
    }
    .product__media-wrapper {
      //padding-left: 120px;
      display: flex;
      flex-direction: row;
      width: 50%;
      @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 30px;
      }
      .flash-sale {
        display: none;
      }
      .share-area {
        width: 17%;
        position: relative;
        @media (max-width: 1024px) {
          display: none;
        }
        .icon-share {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            fill: #47a6ff;
          }
          svg {
            width: 20px;
            height: auto;
          }
          .wp-social-icon-opend {
            visibility: visible !important;
            opacity: 1 !important;
          }
          .wp-social-icon {
            visibility: visible;
            opacity: 1;
            transition: 0.3s;
            background: #ffffff;
            position: absolute;
            width: max-content;
            //width: 48px;
            //bottom: 180px;
            //right: -140px;

            //left: -100%;
            //bottom: 200%;

            left: 50%;
            bottom: 100%;
            padding: 11px;
            border: 1px solid #ccc;
            transform: rotate(-90deg);
            display: flex;

            transform-origin: left;

            .social-item {
              display: flex;

              &:first-child {
                margin-right: 22px;
                padding-right: 25px;
                border-right: 1px solid #e3e3e3;
              }

              a {
                display: block;
                transition: 0.3s;
                cursor: pointer;
                svg {
                  fill: #47a6ff;
                }
              }
              p {
                margin-bottom: 0;
                // display: none;
                //visibility: hidden;
                //opacity: 0;
                //height: 0;
                //width: 0;
                transition: 0.3s;
              }
            }

            &:after,
            &:before {
              content: "";
              display: block;
              position: absolute;
              width: 0;
              height: 0;
              border-style: solid;
            }

            /* this border color controlls the color of the triangle (what looks like the fill of the triangle) */
            &:after {
              right: 100%;
              border-color: transparent #ffffff transparent transparent;
              border-width: 10px;
            }

            /* this border color controlls the outside, thin border */
            &:before {
              right: 100%;
              border-color: transparent #000000 transparent transparent;
              border-width: 10px;
            }
          }
        }
      }
      .product__media-img {
        width: 83%;
        @media (max-width: 1024px) {
          width: 100%;
        }
        .wp-img-main {
          display: flex;
          justify-content: center;
          img {
            max-width: 100%;
            height: auto;
            width: 100%;
            cursor: zoom-in;
          }
        }
        .slide-horizontal__main {
          margin-bottom: 20px;
        }
        .product__media-list-one {
          max-height: 800px;
          overflow-y: scroll;
          .product__media-item {
            margin-bottom: 20px;
            // background: #f3f3f3;
          }
        }
        .product__media-list-one::-webkit-scrollbar {
          display: none;
        }
        .product__media-list-two {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: end;
          overflow-y: scroll;
          max-height: 800px;
          .product__media-item {
            width: 45%;
            margin-right: 20px;
            margin-bottom: 20px;
            // background: #f3f3f3;
            @media (max-width: 1200px) {
              width: 43%;
            }
          }
        }
        .product__media-list-two::-webkit-scrollbar {
          display: none;
        }
        .slide-horizontal__thumb {
          height: auto;
          .product__media-item {
            background: #f5faff;
            opacity: 0.5;
            &:hover {
              cursor: pointer;
            }
            .product__media {
              img {
                // height: 200px;
              }
            }
          }
          .swiper-slide-active.product__media-item {
            opacity: 1;
          }
        }
      }
      .product__media-img.share-off {
        width: 100%;
      }
      .product__media-img.vertical {
        display: flex;
        flex-direction: row;
        align-items: center;
        .slide-vertical__thumb {
          width: calc(20% - 30px);
          padding-right: 30px;
          max-height: 540px;
          .product__media-item {
            cursor: pointer;
            opacity: 0.5;
            background-color: #f5faff;
          }
          .swiper-slide-active.product__media-item {
            opacity: 1;
          }
        }
        .slide-vertical__main {
          width: 80%;
        }
      }
    }
    .product__media--vertical {
      flex-direction: row;
    }
    .media-left-thumb {
      padding-left: 120px;
    }
  }
}
.product-recommendations {
  .grid--3-col {
    @media (max-width: 1200px) {
      justify-content: center;
    }
  }
  .grid__item {
    @media (max-width: 1200px) {
      max-width: 50%;
      width: 50%;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      width: 100%;
    }
    .grid__item-wrapper {
      .grid__item-image {
        a {
          display: flex;
          align-items: center;
          // height: 500px;
          justify-content: center;
          overflow: hidden;
          img {
            max-width: 100%;
            transform: scale(1);
            -webkit-transition: all 0.3s 0s linear;
            -moz-transition: all 0.3s 0s linear;
            -o-transition: all 0.3s 0s linear;
            transition: all 0.3s 0s linear;
          }
        }
        .badge {
          display: none;
        }
        margin-bottom: 7px;
        &:hover {
          a {
            img {
              transform: scale(1.1);
              -webkit-transition: all 0.3s 0s linear;
              -moz-transition: all 0.3s 0s linear;
              -o-transition: all 0.3s 0s linear;
              transition: all 0.3s 0s linear;
            }
          }
        }
      }
      .grid__item-content {
        .grid__item-title {
          h3 {
            margin-bottom: 7px;
            a {
              font-weight: 500;
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
        .grid__item-price {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          .reviews {
            .stars-new {
              @media (max-width: 1440px) {
                letter-spacing: -4px;
              }
            }
          }
          .price {
            .price__sale {
              font-size: 16px;
              font-weight: 400;
              line-height: 1.4em;
              color: #000;
              .price-item--regular {
              }
            }
          }
        }
      }
    }
  }

  .grid--4-col {
    .grid__item {
      @media (max-width: 1024px) {
        width: 50%;
        max-width: 50%;
      }
      @media (max-width: 520px) {
        width: 100%;
        max-width: 100%;
      }
      .grid__item-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .grid__item-content .grid__item-price {
          flex-direction: column;
          align-items: flex-start;
          .reviews {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
